In [1]:
import pandas as pd

In [2]:

# df=pd.DataFrame.from_records(ads)
# df

df = pd.read_csv('lastKnew.csv')
df

C:\Users\Commandor\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (8,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,url,title,date,location,compound,type,price,area,bedrooms,level,...,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances,month,meterprice
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,175000.0,115,3,3,...,1,1,1,1,0,0,0,0,2,1521
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-15,New Cairo - El Tagamoa,Sakan Masr,Apartment,180000.0,115,3,1,...,0,0,0,0,0,0,0,0,4,1565
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,150000.0,115,3,2,...,0,0,0,0,0,0,0,0,4,1304
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2022-04-27,Gesr Al Suez,Not in Compound,Apartment,450000.0,135,3,7,...,0,0,0,0,0,0,0,0,4,3333
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,160000.0,115,3,2,...,0,0,0,0,0,0,0,0,4,1391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م,2022-04-29,15 May City,Not in Compound,Apartment,550000.0,125,3,2,...,0,0,0,0,0,0,0,0,4,4400
37705,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بكمبوند دار مصر دور ثالث,2022-04-29,15 May City,Dar Misr,Apartment,600000.0,140,3,3,...,0,0,0,0,0,0,0,0,4,4285
37706,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع,2022-02-28,15 May City,Jewar,Apartment,470000.0,80,2,5,...,0,0,0,0,0,0,0,0,2,5875
37707,https://www.olx.com.eg/en/ad/%D9%84%D9%84%D8%A...,للبيع,2022-02-28,15 May City,Not in Compound,Apartment,470000.0,100,2,4,...,1,1,0,1,0,0,0,0,2,4700
37708,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة دور ارضي مرتفع سوبر لوكس مجاورة 15,2022-04-08,15 May City,Not in Compound,Apartment,440000.0,105,3,Ground,...,0,0,0,0,0,0,0,0,4,4190

In [3]:
df['bathrooms']=df['bathrooms'].astype(str)
df['bedrooms']=df['bedrooms'].astype(str)
df['level']=df['level'].astype(str)
df['month']=df['month'].astype(str)

df['price']=df['price'].astype(int)
df['meterprice']=df['meterprice'].astype(int)

In [4]:
x=df.groupby('location')['meterprice'].mean().sort_values(ascending=False)
dict(x)
for i in x.keys():
    ind=df.index[df['location'] == i].tolist()

    for j in ind:
        df['meterprice'].iloc[j]=x[i]

C:\Users\Commandor\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [5]:
df['meterprice'].unique()

array([ 9521.27301514,  4064.04740551,  3886.68604651,  8394.3560477 ,
        5257.89247312,  9605.63104839,  8419.97404844,  3576.50867052,
        5102.96437055,  3189.93473193,  7627.03663793, 10526.596     ,
        9931.13617021,  7069.2124183 , 10000.76666667,  6214.36548223,
        6386.18131868, 11917.08198009,  7255.38377535,  8652.16395864,
        8302.51845018,  4123.375     , 10462.49036403,  5509.09803922,
        9654.31608133,  3285.83378016, 10289.12371134,  9869.01265823,
        3275.84693878,  6862.64044944,  3123.66834171,  3840.2962963 ,
        9204.48235294,  3994.49333333,  3829.05181347,  4446.17391304,
        5847.01145663,  5106.80392157,  5025.98611111])

In [6]:
df['level'].value_counts(normalize=False,sort=True)

2          7957
3          6477
1          5957
Ground     4952
4          3691
5          2886
6          1410
7           859
10+         831
8           800
9           770
10          716
Highest     403
Name: level, dtype: int64

In [7]:
df['bedrooms'].value_counts(normalize=True,sort=True)

3      0.668700
2      0.301095
4      0.018059
1      0.008778
5      0.002042
6      0.000769
10     0.000133
10+    0.000133
8      0.000106
7      0.000106
9      0.000080
Name: bedrooms, dtype: float64

In [8]:
df['location'].value_counts(normalize=False,sort=True).index

Index(['New Cairo - El Tagamoa', 'Madinaty', 'Badr City', 'Heliopolis',
       'Gesr Al Suez', 'Rehab City', 'Mokattam', 'Nasr City', 'Ain Shams',
       'Zahraa Al Maadi', 'Helwan', 'Mostakbal City', 'New Capital City',
       'Maadi', 'Downtown Cairo', 'Helmeyat El Zaytoun', 'Shorouk City',
       'Katameya', 'Sheraton', 'Shubra', 'Salam City', 'Hadayek al-Kobba',
       'Marg', 'Obour City', 'New Nozha', 'Hadayek Helwan', 'Matareya',
       'Dar al-Salaam', 'Ezbet El Nakhl', '15 May City', 'Zawya al-Hamra',
       'Waili', 'Zamalek', 'Sayeda Zeinab', 'Abasiya', 'Al Manial', 'Almazah',
       'Al Amiriyyah', 'Basateen'],
      dtype='object')

In [9]:
imp_locations = ['New Cairo - El Tagamoa', 'Madinaty', 'Badr City', 'Heliopolis',
       'Gesr Al Suez', 'Rehab City', 'Mokattam', 'Nasr City', 'Ain Shams',
       'Zahraa Al Maadi', 'Helwan']

In [10]:
# df['location'] = df['location'].apply(lambda loc: 'Other' if loc not in imp_locations else loc)

In [11]:
df['location'].value_counts()

New Cairo - El Tagamoa    12948
Madinaty                   3818
Badr City                  1684
Heliopolis                 1623
Gesr Al Suez               1561
Rehab City                 1250
Mokattam                   1224
Nasr City                  1174
Ain Shams                  1118
Zahraa Al Maadi            1084
Helwan                      848
Mostakbal City              750
New Capital City            705
Maadi                       677
Downtown Cairo              641
Helmeyat El Zaytoun         611
Shorouk City                578
Katameya                    496
Sheraton                    467
Shubra                      464
Salam City                  429
Hadayek al-Kobba            394
Marg                        373
Obour City                  364
New Nozha                   357
Hadayek Helwan              346
Matareya                    324
Dar al-Salaam               199
Ezbet El Nakhl              196
15 May City                 193
Zawya al-Hamra              150
Waili                       102
Zamalek                      97
Sayeda Zeinab                93
Abasiya                      89
Al Manial                    85
Almazah                      79
Al Amiriyyah                 72
Basateen                     46
Name: location, dtype: int64

In [12]:
filt = df['bedrooms'].apply(lambda x: x in ['1','5','6','7','8','9','10','10+'])
filt

0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Name: bedrooms, Length: 37709, dtype: bool

In [13]:
# outliers = df[filt].index

# df.drop(outliers, inplace = True)

In [14]:
# filt = df['level'].apply(lambda x: x in ['5','6','7','8','9','10','10+','Highest'])
# filt

In [15]:
# outliers = df[filt].index

# df.drop(outliers, inplace = True)

In [16]:
df['level'].value_counts()

2          7957
3          6477
1          5957
Ground     4952
4          3691
5          2886
6          1410
7           859
10+         831
8           800
9           770
10          716
Highest     403
Name: level, dtype: int64

In [17]:
df['bedrooms'].unique()

array(['3', '2', '4', '1', '10', '5', '8', '6', '10+', '7', '9'],
      dtype=object)

In [18]:

df['compound'].value_counts(sort=True).index

Index(['Not in Compound', 'Jewar', 'Madinaty', 'Sama', 'Beit Al Watan',
       'L’Avenir', 'Eastown', 'Makany', 'Mivida', 'Mountain View iCity',
       ...
       'Shorouk Gardens', 'Village Avenue', 'GCR Golf City',
       'Sun City Gardens', 'Al Solaimaneyah Golf City', 'Go Heliopolis',
       'Creek Park', 'Stella New Cairo', 'Wahet El Ryhan', 'Etlalah'],
      dtype='object', length=290)

In [19]:
# comp=['Not in Compound', 'Jewar', 'Madinaty', 'Sama']
# #'Beit Al Watan','L’Avenir', 'Eastown', 'Makany', 'Mivida', 'Mountain View iCity'
# df['compound'] = df['compound'].apply(lambda loc: 'Other' if loc not in comp else loc)
# df['compound'].value_counts()

In [20]:
df['meterprice']

0        9521.273015
1        9521.273015
2        9521.273015
3        4064.047406
4        9521.273015
            ...
37704    3829.051813
37705    3829.051813
37706    3829.051813
37707    3829.051813
37708    3829.051813
Name: meterprice, Length: 37709, dtype: float64

In [21]:
df2 = df.copy(deep = True)
df3 = df.copy(deep = True)
df4 = df.copy(deep = True)
df5 = df.copy(deep = True)

In [22]:
df4.columns

Index(['url', 'title', 'date', 'location', 'compound', 'type', 'price', 'area',
       'bedrooms', 'level', 'furnished', 'price_type', 'bathrooms',
       'payment_option', 'description', 'amenities', 'delivery_term',
       'delivery_date', 'down_payment', 'electricity_meter', 'balcony',
       'water_meter', 'elevator', 'security', 'natural_gas', 'landline',
       'pets_allowed', 'covered_parking', 'private_garden', 'pool',
       'maids_room', 'central_ac_heating', 'built_in_kitchen_appliances',
       'month', 'meterprice'],
      dtype='object')

In [23]:
df.corr()

,price,area,furnished,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances,meterprice
price,1.000000,0.487292,0.016524,-0.062471,0.013588,0.133018,0.052853,0.131139,0.216388,0.026968,0.094865,0.187994,0.182635,0.183757,0.170339,0.163357,0.157421,0.124278,0.469884
area,0.487292,1.000000,-0.006402,-0.071550,-0.005273,0.122976,0.017768,0.134691,0.141444,-0.013288,0.045600,0.139787,0.177056,0.068582,0.062484,0.127428,0.100152,0.061188,0.267036
furnished,0.016524,-0.006402,1.000000,-0.030270,0.018528,0.025135,0.012290,0.004916,-0.013618,0.040998,0.033351,-0.019694,-0.020091,-0.032409,-0.017648,0.005349,0.095712,0.204328,-0.039504
down_payment,-0.062471,-0.071550,-0.030270,1.000000,0.051832,0.076701,0.067735,0.092766,0.079379,0.006255,0.024069,0.100368,0.155588,0.039961,0.094028,0.040102,0.074082,-0.008733,0.000583
electricity_meter,0.013588,-0.005273,0.018528,0.051832,1.000000,0.419090,0.783600,0.497823,0.370443,0.662476,0.563247,0.363860,0.360521,0.148380,0.213956,0.216888,0.235082,0.224582,0.001333
balcony,0.133018,0.122976,0.025135,0.076701,0.419090,1.000000,0.434283,0.467349,0.549537,0.328307,0.375955,0.468104,0.466516,0.203412,0.266794,0.256307,0.256039,0.220424,0.194605
water_meter,0.052853,0.017768,0.012290,0.067735,0.783600,0.434283,1.000000,0.518309,0.426298,0.637366,0.607894,0.407593,0.398077,0.187429,0.249886,0.235548,0.256138,0.229323,0.069973
elevator,0.131139,0.134691,0.004916,0.092766,0.497823,0.467349,0.518309,1.000000,0.540318,0.398555,0.488243,0.442183,0.497634,0.169156,0.290179,0.241766,0.250700,0.194007,0.189530
security,0.216388,0.141444,-0.013618,0.079379,0.370443,0.549537,0.426298,0.540318,1.000000,0.298643,0.401010,0.594783,0.581869,0.325101,0.376820,0.318852,0.322519,0.225106,0.387302
natural_gas,0.026968,-0.013288,0.040998,0.006255,0.662476,0.328307,0.637366,0.398555,0.298643,1.000000,0.625508,0.307889,0.286758,0.120320,0.239880,0.231822,0.264742,0.242670,-0.021538
landline,0.094865,0.045600,0.033351,0.024069,0.563247,0.375955,0.607894,0.488243,0.401010,0.625508,1.000000,0.403405,0.385931,0.205872,0.296992,0.289376,0.318051,0.288067,0.113291
pets_allowed,0.187994,0.139787,-0.019694,0.100368,0.363860,0.468104,0.407593,0.442183,0.594783,0.307889,0.403405,1.000000,0.602010,0.318042,0.430902,0.401970,0.363011,0.233784,0.288917
covered_parking,0.182635,0.177056,-0.020091,0.155588,0.360521,0.466516,0.398077,0.497634,0.581869,0.286758,0.385931,0.602010,1.000000,0.300299,0.437293,0.386422,0.368907,0.221451,0.276752
private_garden,0.183757,0.068582,-0.032409,0.039961,0.148380,0.203412,0.187429,0.169156,0.325101,0.120320,0.205872,0.318042,0.300299,1.000000,0.308227,0.305610,0.262097,0.204799,0.310348
pool,0.170339,0.062484,-0.017648,0.094028,0.213956,0.266794,0.249886,0.290179,0.376820,0.239880,0.296992,0.430902,0.437293,0.308227,1.000000,0.517950,0.437067,0.291400,0.160594
maids_room,0.163357,0.127428,0.005349,0.040102,0.216888,0.256307,0.235548,0.241766,0.318852,0.231822,0.289376,0.401970,0.386422,0.305610,0.517950,1.000000,0.513055,0.377146,0.140653
central_ac_heating,0.157421,0.100152,0.095712,0.074082,0.235082,0.256039,0.256138,0.250700,0.322519,0.264742,0.318051,0.363011,0.368907,0.262097,0.437067,0.513055,1.000000,0.536751,0.131979
built_in_kitchen_appliances,0.124278,0.061188,0.204328,-0.008733,0.224582,0.220424,0.229323,0.194007,0.225106,0.242670,0.288067,0.233784,0.221451,0.204799,0.291400,0.377146,0.536751,1.000000,0.065971
meterprice,0.469884,0.267036,-0.039504,0.000583,0.001333,0.194605,0.069973,0.189530,0.387302,-0.021538,0.113291,0.288917,0.276752,0.310348,0.160594,0.140653,0.131979,0.065971,1.000000

In [24]:
df.drop(['url','title', 'date', 'type', 'description', 'amenities','furnished','price_type','maids_room','landline','pets_allowed','covered_parking','central_ac_heating','built_in_kitchen_appliances','delivery_date','pool','delivery_term'], axis=1, inplace=True)
df

,location,compound,price,area,bedrooms,level,bathrooms,payment_option,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,private_garden,month,meterprice
0,New Cairo - El Tagamoa,Sakan Masr,175000,115,3,3,1,Cash,0.0,1,1,1,0,1,1,1,2,9521.273015
1,New Cairo - El Tagamoa,Sakan Masr,180000,115,3,1,1,Cash,0.0,1,0,1,0,1,1,0,4,9521.273015
2,New Cairo - El Tagamoa,Sakan Masr,150000,115,3,2,1,Cash,0.0,0,0,0,0,0,0,0,4,9521.273015
3,Gesr Al Suez,Not in Compound,450000,135,3,7,1,Cash,0.0,0,1,0,1,0,1,0,4,4064.047406
4,New Cairo - El Tagamoa,Sakan Masr,160000,115,3,2,1,Cash,0.0,0,0,0,0,0,0,0,4,9521.273015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,15 May City,Not in Compound,550000,125,3,2,1,Cash,0.0,0,1,0,0,0,0,0,4,3829.051813
37705,15 May City,Dar Misr,600000,140,3,3,3,Cash,0.0,0,0,0,0,0,0,0,4,3829.051813
37706,15 May City,Jewar,470000,80,2,5,1,Cash,0.0,1,1,1,1,0,1,0,2,3829.051813
37707,15 May City,Not in Compound,470000,100,2,4,1,Cash,0.0,1,1,1,0,0,0,1,2,3829.051813
37708,15 May City,Not in Compound,440000,105,3,Ground,2,Cash,0.0,0,0,0,0,0,0,0,4,3829.051813

In [25]:
df = pd.get_dummies(df, columns=['location', 'compound','bedrooms', 'month','level', 'bathrooms','payment_option'], drop_first=True)
df

,price,area,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,private_garden,...,bathrooms_2,bathrooms_3,bathrooms_4,bathrooms_5,bathrooms_6,bathrooms_7,bathrooms_8,bathrooms_9,payment_option_Cash or Installment,payment_option_Installment
0,175000,115,0.0,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,180000,115,0.0,1,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,150000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,450000,135,0.0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,160000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,550000,125,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37705,600000,140,0.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
37706,470000,80,0.0,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
37707,470000,100,0.0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
37708,440000,105,0.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
df

,price,area,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,private_garden,...,bathrooms_2,bathrooms_3,bathrooms_4,bathrooms_5,bathrooms_6,bathrooms_7,bathrooms_8,bathrooms_9,payment_option_Cash or Installment,payment_option_Installment
0,175000,115,0.0,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,180000,115,0.0,1,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,150000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,450000,135,0.0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,160000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,550000,125,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37705,600000,140,0.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
37706,470000,80,0.0,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
37707,470000,100,0.0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
37708,440000,105,0.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [27]:
x = df.drop('price', axis=1)
# x = df[selected]
y = df['price']

In [28]:
x

,area,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,private_garden,meterprice,...,bathrooms_2,bathrooms_3,bathrooms_4,bathrooms_5,bathrooms_6,bathrooms_7,bathrooms_8,bathrooms_9,payment_option_Cash or Installment,payment_option_Installment
0,115,0.0,1,1,1,0,1,1,1,9521.273015,...,0,0,0,0,0,0,0,0,0,0
1,115,0.0,1,0,1,0,1,1,0,9521.273015,...,0,0,0,0,0,0,0,0,0,0
2,115,0.0,0,0,0,0,0,0,0,9521.273015,...,0,0,0,0,0,0,0,0,0,0
3,135,0.0,0,1,0,1,0,1,0,4064.047406,...,0,0,0,0,0,0,0,0,0,0
4,115,0.0,0,0,0,0,0,0,0,9521.273015,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,125,0.0,0,1,0,0,0,0,0,3829.051813,...,0,0,0,0,0,0,0,0,0,0
37705,140,0.0,0,0,0,0,0,0,0,3829.051813,...,0,1,0,0,0,0,0,0,0,0
37706,80,0.0,1,1,1,1,0,1,0,3829.051813,...,0,0,0,0,0,0,0,0,0,0
37707,100,0.0,1,1,1,0,0,0,1,3829.051813,...,0,0,0,0,0,0,0,0,0,0
37708,105,0.0,0,0,0,0,0,0,0,3829.051813,...,1,0,0,0,0,0,0,0,0,0

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [30]:
scaler= StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

models = {
    #'LR': LinearRegression(),
    #'DT': DecisionTreeRegressor(max_depth=200),#max_depth=180
    #'KNN': KNeighborsRegressor(),#n_neighbors=9
    #'SVM': SVR(), #kernel='rbf'
    #'RF': RandomForestRegressor(n_estimators=200,max_depth=10),#n_estimators=200,max_depth=330
    'XGB': XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1,
             monotone_constraints='()', n_estimators=1000, n_jobs=4, nthread=4,
             num_parallel_tree=1, predictor='auto', random_state=27,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27,
             subsample=0.8, tree_method='exact', validate_parameters=1,
             verbosity=None)#n_estimators=200


}

for name, model in models.items():
    print(f'Training {name}...')
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print(f'Testing RMSE: {np.sqrt(mean_squared_error(y_test, y_pred))}')
    print(f'Testing MAE: {mean_absolute_error(y_test, y_pred)}')
    print(f'Testing R2: {r2_score(y_test, y_pred)}')
    print('-'*50)

Training XGB...

In [ ]:
# base_score=0.5, booster='gbtree', colsample_bylevel=1,
#              colsample_bynode=1, colsample_bytree=0.8, enable_categorical=False,
#              gamma=0, gpu_id=-1, importance_type=None,
#              interaction_constraints='', learning_rate=0.1, max_delta_step=0,
#              max_depth=5, min_child_weight=1,
#              monotone_constraints='()', n_estimators=1000, n_jobs=4, nthread=4,
#              num_parallel_tree=1, predictor='auto', random_state=27,
#              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27,
#              subsample=0.8, tree_method='exact', validate_parameters=1,
#              verbosity=None

In [ ]:
# from xgboost import XGBRegressor

# model = XGBRegressor(random_state=42)

In [ ]:
#from sklearn.model_selection import GridSearchCV

In [ ]:

# params = [
#         {'criterion':['gini', 'entropy'],
#          'max_depth':range(10, 250, 5),
#          'n_estimators':range(20, 250, 5)}
#          ]

# grid_search = GridSearchCV(estimator=model,
#                            param_grid=params,
#                            scoring='r2',
#                            cv=10, n_jobs=-1)
# grid_search.fit(x_train, y_train)

In [ ]:
#grid_search.best_score_

In [ ]:
#grid_search.best_params_

In [ ]:
#grid_search.best_estimator_

In [ ]:
# xgb1 = XGBRegressor(
#  learning_rate =0.1,
#  n_estimators=1000,
#  max_depth=5,
#  min_child_weight=1,
#  gamma=0,
#  subsample=0.8,
#  colsample_bytree=0.8,
#  nthread=4,
#  scale_pos_weight=1,
#  seed=27)
# xgb1.fit(x_train, y_train)