In [1]:
import pandas as pd

In [2]:
pd.options.display.max_rows = 10
# df=pd.DataFrame.from_records(ads)
# df

df = pd.read_csv('lastKnew.csv')
df

C:\Users\mazen\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3397: DtypeWarning: Columns (8,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,url,title,date,location,compound,type,price,area,bedrooms,level,...,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances,month,meterprice
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,175000.0,115,3,3,...,1,1,1,1,0,0,0,0,2,1521
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-15,New Cairo - El Tagamoa,Sakan Masr,Apartment,180000.0,115,3,1,...,0,0,0,0,0,0,0,0,4,1565
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,150000.0,115,3,2,...,0,0,0,0,0,0,0,0,4,1304
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2022-04-27,Gesr Al Suez,Not in Compound,Apartment,450000.0,135,3,7,...,0,0,0,0,0,0,0,0,4,3333
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,160000.0,115,3,2,...,0,0,0,0,0,0,0,0,4,1391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م,2022-04-29,15 May City,Not in Compound,Apartment,550000.0,125,3,2,...,0,0,0,0,0,0,0,0,4,4400
37705,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بكمبوند دار مصر دور ثالث,2022-04-29,15 May City,Dar Misr,Apartment,600000.0,140,3,3,...,0,0,0,0,0,0,0,0,4,4285
37706,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع,2022-02-28,15 May City,Jewar,Apartment,470000.0,80,2,5,...,0,0,0,0,0,0,0,0,2,5875
37707,https://www.olx.com.eg/en/ad/%D9%84%D9%84%D8%A...,للبيع,2022-02-28,15 May City,Not in Compound,Apartment,470000.0,100,2,4,...,1,1,0,1,0,0,0,0,2,4700
37708,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة دور ارضي مرتفع سوبر لوكس مجاورة 15,2022-04-08,15 May City,Not in Compound,Apartment,440000.0,105,3,Ground,...,0,0,0,0,0,0,0,0,4,4190

In [3]:
df['bathrooms']=df['bathrooms'].astype(str)
df['bedrooms']=df['bedrooms'].astype(str)
df['level']=df['level'].astype(str)
df['month']=df['month'].astype(str)

df['price']=df['price'].astype(int)
df['meterprice']=df['meterprice'].astype(int)

In [4]:
x=df.groupby('location')['meterprice'].mean().sort_values(ascending=False)
dict(x)
for i in x.keys():
    ind=df.index[df['location'] == i].tolist()

    for j in ind:
        df['meterprice'].iloc[j]=x[i]

C:\Users\mazen\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [5]:
df['level'].value_counts(normalize=True,sort=True)

2          0.211011
3          0.171763
1          0.157973
Ground     0.131321
4          0.097881
             ...
10+        0.022037
8          0.021215
9          0.020420
10         0.018988
Highest    0.010687
Name: level, Length: 13, dtype: float64

In [6]:
df['bedrooms'].value_counts(normalize=True,sort=True)

3      0.668700
2      0.301095
4      0.018059
1      0.008778
5      0.002042
         ...
10     0.000133
10+    0.000133
8      0.000106
7      0.000106
9      0.000080
Name: bedrooms, Length: 11, dtype: float64

In [7]:
filt = df['bedrooms'].apply(lambda x: x in ['1','5','6','7','8','9','10','10+'])
filt

0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Name: bedrooms, Length: 37709, dtype: bool

In [8]:
outliers = df[filt].index
df.drop(outliers, inplace = True)

In [9]:
df

,url,title,date,location,compound,type,price,area,bedrooms,level,...,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances,month,meterprice
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,175000,115,3,3,...,1,1,1,1,0,0,0,0,2,9521.273015
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-15,New Cairo - El Tagamoa,Sakan Masr,Apartment,180000,115,3,1,...,0,0,0,0,0,0,0,0,4,9521.273015
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,150000,115,3,2,...,0,0,0,0,0,0,0,0,4,9521.273015
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2022-04-27,Gesr Al Suez,Not in Compound,Apartment,450000,135,3,7,...,0,0,0,0,0,0,0,0,4,4064.047406
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,160000,115,3,2,...,0,0,0,0,0,0,0,0,4,9521.273015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م,2022-04-29,15 May City,Not in Compound,Apartment,550000,125,3,2,...,0,0,0,0,0,0,0,0,4,3829.051813
37705,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بكمبوند دار مصر دور ثالث,2022-04-29,15 May City,Dar Misr,Apartment,600000,140,3,3,...,0,0,0,0,0,0,0,0,4,3829.051813
37706,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع,2022-02-28,15 May City,Jewar,Apartment,470000,80,2,5,...,0,0,0,0,0,0,0,0,2,3829.051813
37707,https://www.olx.com.eg/en/ad/%D9%84%D9%84%D8%A...,للبيع,2022-02-28,15 May City,Not in Compound,Apartment,470000,100,2,4,...,1,1,0,1,0,0,0,0,2,3829.051813
37708,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة دور ارضي مرتفع سوبر لوكس مجاورة 15,2022-04-08,15 May City,Not in Compound,Apartment,440000,105,3,Ground,...,0,0,0,0,0,0,0,0,4,3829.051813

In [10]:

df['compound'].value_counts(sort=True)

Not in Compound              16028
Jewar                         5011
Madinaty                      2940
Sama                          1068
Beit Al Watan                  633
                             ...
Al Solaimaneyah Golf City        1
Go Heliopolis                    1
Creek Park                       1
Stella New Cairo                 1
Etlalah                          1
Name: compound, Length: 290, dtype: int64

In [11]:
series = df['compound'].value_counts(normalize = False)
filt = series >= 40
categories = series[filt].index

pd.options.display.max_rows = 10
categories

Index(['Not in Compound', 'Jewar', 'Madinaty', 'Sama', 'Beit Al Watan',
       'L’Avenir', 'Eastown', 'Makany', 'Mivida', 'Mountain View iCity',
       'Greens', 'Andalus', 'The Key', 'Dar Misr', 'Hyde Park New Cairo',
       'Rehab City', 'The Square', 'Le Jour', 'Stone Residence', 'La Verde',
       'Sakan Masr', 'Gardenia', 'Fifth Square', 'Il Mondo', 'The City',
       'Uptown Cairo', 'Sheraton Residence', 'VGK', 'Lavida', 'Agora',
       'Mountain View Hyde Park', 'Dyar', 'Taj City', 'Alma', 'Tijan',
       'Bienestar', 'Bavaria Town', 'One Kattameya', 'The Axis', 'Tag Sultan',
       'Moon Valley', 'Jayd', 'Bloomfields', 'Capital Heights 2',
       'Palm Hills New Cairo', 'Bedaya', 'Lake View', 'Cairo Festival City',
       'Sodic East', 'Villette', 'Lake view Residence', 'Hadaba',
       'Etoile de Ville', 'EL Patio 7', 'Galleria', 'De Joya', 'Granda',
       'Maadi V', 'Baron City', 'Amorada', 'Zed East', 'Ritage',
       '2020 Compound', 'Paradise', 'Sarai', 'Village Gate', 'The Village',
       'Midtown'],
      dtype='object')

In [12]:
filt = df['compound'].apply(lambda x: x not in categories)
outliers = df[filt].index
df.drop(outliers, inplace = True)
df

,url,title,date,location,compound,type,price,area,bedrooms,level,...,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances,month,meterprice
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,175000,115,3,3,...,1,1,1,1,0,0,0,0,2,9521.273015
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-15,New Cairo - El Tagamoa,Sakan Masr,Apartment,180000,115,3,1,...,0,0,0,0,0,0,0,0,4,9521.273015
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,150000,115,3,2,...,0,0,0,0,0,0,0,0,4,9521.273015
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2022-04-27,Gesr Al Suez,Not in Compound,Apartment,450000,135,3,7,...,0,0,0,0,0,0,0,0,4,4064.047406
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,160000,115,3,2,...,0,0,0,0,0,0,0,0,4,9521.273015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م,2022-04-29,15 May City,Not in Compound,Apartment,550000,125,3,2,...,0,0,0,0,0,0,0,0,4,3829.051813
37705,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بكمبوند دار مصر دور ثالث,2022-04-29,15 May City,Dar Misr,Apartment,600000,140,3,3,...,0,0,0,0,0,0,0,0,4,3829.051813
37706,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع,2022-02-28,15 May City,Jewar,Apartment,470000,80,2,5,...,0,0,0,0,0,0,0,0,2,3829.051813
37707,https://www.olx.com.eg/en/ad/%D9%84%D9%84%D8%A...,للبيع,2022-02-28,15 May City,Not in Compound,Apartment,470000,100,2,4,...,1,1,0,1,0,0,0,0,2,3829.051813
37708,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة دور ارضي مرتفع سوبر لوكس مجاورة 15,2022-04-08,15 May City,Not in Compound,Apartment,440000,105,3,Ground,...,0,0,0,0,0,0,0,0,4,3829.051813

In [13]:

df['bathrooms'].value_counts(normalize=True,sort=True)

2      0.421941
1      0.311643
3      0.263319
4      0.002252
5      0.000253
         ...
7      0.000141
10     0.000141
6      0.000056
9      0.000056
10+    0.000028
Name: bathrooms, Length: 11, dtype: float64

In [14]:
pd.options.display.max_rows = 10

filt = df['bathrooms'].apply(lambda x: x in ['4','5','6','7','8','9','10','10+'])
filt

0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Name: bathrooms, Length: 35531, dtype: bool

In [15]:
outliers = df[filt].index
df.drop(outliers, inplace = True)

In [16]:

df['level'].value_counts(normalize=True,sort=True)

2          0.210384
3          0.170436
1          0.158324
Ground     0.131052
4          0.098077
             ...
10+        0.022218
8          0.021484
9          0.020581
10         0.018915
Highest    0.010785
Name: level, Length: 13, dtype: float64

In [17]:
df1=df

In [18]:
df.drop(['month'], axis=1, inplace=True)
df

,url,title,date,location,compound,type,price,area,bedrooms,level,...,natural_gas,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances,meterprice
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,175000,115,3,3,...,1,1,1,1,1,0,0,0,0,9521.273015
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-15,New Cairo - El Tagamoa,Sakan Masr,Apartment,180000,115,3,1,...,1,0,0,0,0,0,0,0,0,9521.273015
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,150000,115,3,2,...,0,0,0,0,0,0,0,0,0,9521.273015
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2022-04-27,Gesr Al Suez,Not in Compound,Apartment,450000,135,3,7,...,1,0,0,0,0,0,0,0,0,4064.047406
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,160000,115,3,2,...,0,0,0,0,0,0,0,0,0,9521.273015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م,2022-04-29,15 May City,Not in Compound,Apartment,550000,125,3,2,...,0,0,0,0,0,0,0,0,0,3829.051813
37705,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بكمبوند دار مصر دور ثالث,2022-04-29,15 May City,Dar Misr,Apartment,600000,140,3,3,...,0,0,0,0,0,0,0,0,0,3829.051813
37706,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع,2022-02-28,15 May City,Jewar,Apartment,470000,80,2,5,...,1,0,0,0,0,0,0,0,0,3829.051813
37707,https://www.olx.com.eg/en/ad/%D9%84%D9%84%D8%A...,للبيع,2022-02-28,15 May City,Not in Compound,Apartment,470000,100,2,4,...,0,1,1,0,1,0,0,0,0,3829.051813
37708,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة دور ارضي مرتفع سوبر لوكس مجاورة 15,2022-04-08,15 May City,Not in Compound,Apartment,440000,105,3,Ground,...,0,0,0,0,0,0,0,0,0,3829.051813

In [19]:
df['private_garden']

0        1
1        0
2        0
3        0
4        0
        ..
37704    0
37705    0
37706    0
37707    1
37708    0
Name: private_garden, Length: 35421, dtype: int64

In [20]:
df.drop(['url','title', 'date', 'type', 'description', 'amenities','furnished','price_type','maids_room','landline','pets_allowed','covered_parking','central_ac_heating','built_in_kitchen_appliances','delivery_date'], axis=1, inplace=True)
df

,location,compound,price,area,bedrooms,level,bathrooms,payment_option,delivery_term,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,private_garden,pool,meterprice
0,New Cairo - El Tagamoa,Sakan Masr,175000,115,3,3,1,Cash,Core & Shell,0.0,1,1,1,0,1,1,1,0,9521.273015
1,New Cairo - El Tagamoa,Sakan Masr,180000,115,3,1,1,Cash,Finished,0.0,1,0,1,0,1,1,0,0,9521.273015
2,New Cairo - El Tagamoa,Sakan Masr,150000,115,3,2,1,Cash,Finished,0.0,0,0,0,0,0,0,0,0,9521.273015
3,Gesr Al Suez,Not in Compound,450000,135,3,7,1,Cash,Finished,0.0,0,1,0,1,0,1,0,0,4064.047406
4,New Cairo - El Tagamoa,Sakan Masr,160000,115,3,2,1,Cash,Finished,0.0,0,0,0,0,0,0,0,0,9521.273015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,15 May City,Not in Compound,550000,125,3,2,1,Cash,Core & Shell,0.0,0,1,0,0,0,0,0,0,3829.051813
37705,15 May City,Dar Misr,600000,140,3,3,3,Cash,Finished,0.0,0,0,0,0,0,0,0,0,3829.051813
37706,15 May City,Jewar,470000,80,2,5,1,Cash,Finished,0.0,1,1,1,1,0,1,0,0,3829.051813
37707,15 May City,Not in Compound,470000,100,2,4,1,Cash,Finished,0.0,1,1,1,0,0,0,1,0,3829.051813
37708,15 May City,Not in Compound,440000,105,3,Ground,2,Cash,Core & Shell,0.0,0,0,0,0,0,0,0,0,3829.051813

In [22]:
df = pd.get_dummies(df, columns=['location', 'compound','bedrooms','level', 'bathrooms','payment_option','delivery_term'], drop_first=True)
df

,price,area,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,private_garden,...,level_9,level_Ground,level_Highest,bathrooms_2,bathrooms_3,payment_option_Cash or Installment,payment_option_Installment,delivery_term_Finished,delivery_term_Not Finished,delivery_term_Semi Finished
0,175000,115,0.0,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,180000,115,0.0,1,0,1,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
2,150000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,450000,135,0.0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,160000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,550000,125,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37705,600000,140,0.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
37706,470000,80,0.0,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
37707,470000,100,0.0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
37708,440000,105,0.0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
df

,price,area,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,private_garden,...,level_9,level_Ground,level_Highest,bathrooms_2,bathrooms_3,payment_option_Cash or Installment,payment_option_Installment,delivery_term_Finished,delivery_term_Not Finished,delivery_term_Semi Finished
0,175000,115,0.0,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,180000,115,0.0,1,0,1,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
2,150000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,450000,135,0.0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,160000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,550000,125,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37705,600000,140,0.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
37706,470000,80,0.0,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
37707,470000,100,0.0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
37708,440000,105,0.0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0

In [24]:
x = df.drop('price', axis=1)
y = df['price']

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [26]:
scaler= StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [27]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

models = {
    #'LR': LinearRegression(),
    'DT': DecisionTreeRegressor(max_depth=200),#max_depth=180
    #'KNN': KNeighborsRegressor(),#n_neighbors=9
    #'SVM': SVR(), #kernel='rbf'
    'RF': RandomForestRegressor(n_estimators=100,max_depth=6),#n_estimators=200,max_depth=330
    'XGB': XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1,
             monotone_constraints='()', n_estimators=1000, n_jobs=4, nthread=4,
             num_parallel_tree=1, predictor='auto', random_state=27,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27,
             subsample=0.8, tree_method='exact', validate_parameters=1,
             verbosity=None)#n_estimators=200


}

for name, model in models.items():
    print(f'Training {name}...')
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print(f'Testing RMSE: {np.sqrt(mean_squared_error(y_test, y_pred))}')
    print(f'Testing MAE: {mean_absolute_error(y_test, y_pred)}')
    print(f'Testing R2: {r2_score(y_test, y_pred)}')
    print('-'*50)

Training DT...
Testing RMSE: 701917.6097544505
Testing MAE: 417004.2313838643
Testing R2: 0.3128673620076422
--------------------------------------------------
Training RF...
Testing RMSE: 603571.781949302
Testing MAE: 427162.07883019
Testing R2: 0.4919269531843493
--------------------------------------------------
Training XGB...
Testing RMSE: 505517.89348446263
Testing MAE: 329662.87042589195
Testing R2: 0.6435969873310081
--------------------------------------------------

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1,
             monotone_constraints='()', n_estimators=1000, n_jobs=4, nthread=4,
             num_parallel_tree=1, predictor='auto', random_state=27,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27,
             subsample=0.8, tree_method='exact', validate_parameters=1,
             verbosity=None

In [ ]:
x['Sheraton']

In [ ]:
from xgboost import XGBRegressor

model = XGBRegressor(random_state=42)

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:

params = [
        {'criterion':['gini', 'entropy'],
         'max_depth':[10,50,100,150,200,250],
         
         
         'n_estimators':[20, 50, 100, 150, 200, 500, 250]}
         ]

grid_search = GridSearchCV(estimator=model,
                           param_grid=params,
                           scoring='accuracy',
                           cv=10, n_jobs=-1)
grid_search.fit(x_train, y_train)

In [ ]:
grid_search.best_score_

In [ ]:
grid_search.best_params_

In [ ]:
grid_search.best_estimator_

In [ ]:
xgb1 = XGBRegressor(
 learning_rate =0.1,
 n_estimators=1000,
 max_depth=5,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 nthread=4,
 scale_pos_weight=1,
 seed=27)
xgb1.fit(x_train, y_train)