In [37]:
import pandas as pd

In [41]:
pd.options.display.max_rows = 10
# df=pd.DataFrame.from_records(ads)
# df

df = pd.read_csv('lastKnew.csv')
df

C:\Users\mazen\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3397: DtypeWarning: Columns (8,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,url,title,date,location,compound,type,price,area,bedrooms,level,...,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances,month,meterprice
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,175000.0,115,3,3,...,1,1,1,1,0,0,0,0,2,1521
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-15,New Cairo - El Tagamoa,Sakan Masr,Apartment,180000.0,115,3,1,...,0,0,0,0,0,0,0,0,4,1565
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,150000.0,115,3,2,...,0,0,0,0,0,0,0,0,4,1304
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2022-04-27,Gesr Al Suez,Not in Compound,Apartment,450000.0,135,3,7,...,0,0,0,0,0,0,0,0,4,3333
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,160000.0,115,3,2,...,0,0,0,0,0,0,0,0,4,1391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م,2022-04-29,15 May City,Not in Compound,Apartment,550000.0,125,3,2,...,0,0,0,0,0,0,0,0,4,4400
37705,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بكمبوند دار مصر دور ثالث,2022-04-29,15 May City,Dar Misr,Apartment,600000.0,140,3,3,...,0,0,0,0,0,0,0,0,4,4285
37706,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع,2022-02-28,15 May City,Jewar,Apartment,470000.0,80,2,5,...,0,0,0,0,0,0,0,0,2,5875
37707,https://www.olx.com.eg/en/ad/%D9%84%D9%84%D8%A...,للبيع,2022-02-28,15 May City,Not in Compound,Apartment,470000.0,100,2,4,...,1,1,0,1,0,0,0,0,2,4700
37708,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة دور ارضي مرتفع سوبر لوكس مجاورة 15,2022-04-08,15 May City,Not in Compound,Apartment,440000.0,105,3,Ground,...,0,0,0,0,0,0,0,0,4,4190

In [42]:
df['bathrooms']=df['bathrooms'].astype(str)
df['bedrooms']=df['bedrooms'].astype(str)
df['level']=df['level'].astype(str)
df['month']=df['month'].astype(str)

df['price']=df['price'].astype(int)
df['meterprice']=df['meterprice'].astype(int)

In [43]:
x=df.groupby('location')['meterprice'].mean().sort_values(ascending=False)
dict(x)
for i in x.keys():
    ind=df.index[df['location'] == i].tolist()

    for j in ind:
        df['meterprice'].iloc[j]=x[i]

C:\Users\mazen\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [44]:
df['level'].value_counts(normalize=True,sort=True)

2          0.211011
3          0.171763
1          0.157973
Ground     0.131321
4          0.097881
             ...
10+        0.022037
8          0.021215
9          0.020420
10         0.018988
Highest    0.010687
Name: level, Length: 13, dtype: float64

In [153]:
df['bedrooms'].value_counts(normalize=True,sort=True)

3      0.668700
2      0.301095
4      0.018059
1      0.008778
5      0.002042
6      0.000769
10     0.000133
10+    0.000133
8      0.000106
7      0.000106
9      0.000080
Name: bedrooms, dtype: float64

In [165]:
filt = df['bedrooms'].apply(lambda x: x in ['1','5','6','7','8','9','10','10+'])
filt

0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Name: bedrooms, Length: 37378, dtype: bool

In [166]:
outliers = df[filt].index
df.drop(outliers, inplace = True)

In [167]:
df

,url,title,date,location,compound,type,price,area,bedrooms,level,...,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances,month,meterprice
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,175000,115,3,3,...,1,1,1,1,0,0,0,0,2,9521
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-15,New Cairo - El Tagamoa,Sakan Masr,Apartment,180000,115,3,1,...,0,0,0,0,0,0,0,0,4,9521
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,150000,115,3,2,...,0,0,0,0,0,0,0,0,4,9521
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2022-04-27,Gesr Al Suez,Not in Compound,Apartment,450000,135,3,7,...,0,0,0,0,0,0,0,0,4,4064
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,160000,115,3,2,...,0,0,0,0,0,0,0,0,4,9521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م,2022-04-29,15 May City,Not in Compound,Apartment,550000,125,3,2,...,0,0,0,0,0,0,0,0,4,3829
37705,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بكمبوند دار مصر دور ثالث,2022-04-29,15 May City,Dar Misr,Apartment,600000,140,3,3,...,0,0,0,0,0,0,0,0,4,3829
37706,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع,2022-02-28,15 May City,Jewar,Apartment,470000,80,2,5,...,0,0,0,0,0,0,0,0,2,3829
37707,https://www.olx.com.eg/en/ad/%D9%84%D9%84%D8%A...,للبيع,2022-02-28,15 May City,Not in Compound,Apartment,470000,100,2,4,...,1,1,0,1,0,0,0,0,2,3829
37708,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة دور ارضي مرتفع سوبر لوكس مجاورة 15,2022-04-08,15 May City,Not in Compound,Apartment,440000,105,3,Ground,...,0,0,0,0,0,0,0,0,4,3829

In [171]:
pd.options.display.max_rows = None

df['compound'].value_counts(sort=True)

Not in Compound              16028
Jewar                         5011
Madinaty                      2940
Sama                          1068
Beit Al Watan                  633
L’Avenir                       539
Eastown                        484
Makany                         427
Mivida                         427
Mountain View iCity            424
Greens                         416
Andalus                        389
The Key                        354
Dar Misr                       353
Hyde Park New Cairo            289
Rehab City                     279
The Square                     255
Le Jour                        248
Stone Residence                217
La Verde                       214
Sakan Masr                     208
Gardenia                       203
Fifth Square                   192
Il Mondo                       165
The City                       164
Uptown Cairo                   161
Sheraton Residence             150
VGK                            150
Lavida                         142
Agora                          137
Mountain View Hyde Park        136
Dyar                           127
Taj City                       124
Alma                           120
Tijan                          108
Bienestar                      106
Bavaria Town                   105
One Kattameya                  100
The Axis                        90
Tag Sultan                      89
Moon Valley                     84
Jayd                            82
Bloomfields                     78
Capital Heights 2               77
Palm Hills New Cairo            76
Bedaya                          75
Lake View                       74
Cairo Festival City             73
Sodic East                      71
Villette                        66
Lake view Residence             66
Hadaba                          65
Etoile de Ville                 63
EL Patio 7                      61
Galleria                        61
De Joya                         59
Granda                          58
Maadi V                         56
Baron City                      56
Amorada                         56
Zed East                        55
Ritage                          54
2020 Compound                   53
Paradise                        52
Sarai                           51
Village Gate                    49
The Village                     48
Midtown                         40
Sephora Heights                 39
Park View                       39
Sky Condos Sodic                37
The Address East                32
Nakheel                         31
Al Burouj                       30
AZAD                            30
El Ashgar District              30
La Mirada                       29
Degla Palms                     28
Green Square                    28
Katameya Plaza                  28
Regents Park                    26
Mountain View Executive         26
Al Riyadh Secon                 26
The Waterway Compound           25
Katameya Heights                25
East Cairo                      24
Maadi Gardens                   24
Monte Napoleon                  22
Kattameya Gate                  21
Neopolis                        21
The Icon Residence              20
Maadi Grand City                20
Capital Gardens                 19
Al Yasmine                      19
Botanica                        18
Crystal Plaza                   18
The Brooks                      17
Mirage City                     17
ABHA                            17
Beta Greens                     16
Galleria Moon Valley            16
Pukka                           16
Sarayat El Kattameya            16
IL Bosco                        15
EL Patio ORO                    15
Haptown                         15
Trio Gardens                    14
Degla Towers                    14
90 Avenue                       13
Moon City                       13
Maadi View                      13
High City                       13
Rayhanah Avenue                 13
Aswar                           13
Porto New Cairo                 13
Abu Al-Hool                     13
Italian Square                  12
District 5 Compound             12
Maadi Valley                    12
Aeon                            12
Porto Heliopolis                11
Next Point                      11
Yaru                            11
Degla View                      11
Stau                            10
Alico city                       9
Korba Heights                    9
Roses                            9
Mountain View 2                  9
Rayhanah Residence               9
El Khamayel                      9
Celia                            9
Village Gardens Katameya         9
Akoya                            9
Family City                      9
OIA                              8
Golden Heights                   8
Sun City                         8
Asala                            8
Scene 7                          8
Stone Park                       8
Leila                            7
The View                         7
Asmarat Heights                  7
ALBA                             7
Promenade New Cairo              7
Ashrafeya                        7
Mountain View 1                  7
La Vida                          7
IL Bosco City                    7
Swan Lake                        7
Midtown Condo                    7
Art City                         7
Highland Park                    7
Rock Vera                        6
Hayati Residence                 6
Grand Gate                       6
Kattameya Gardens                6
Kayan                            6
Murooj                           6
The Capital Way                  6
Azzar                            6
Castle Landmark                  6
Century City                     6
Degla Landmark                   6
Heliopolis Residence             6
Eshraqa                          5
Rhodes                           5
Florenta                         5
EL Patio Casa                    5
Garden Hills                     5
Ashgar City                      5
Palm Hills Katameya              5
Light City                       5
Catalan                          5
Scenario                         5
Zizinia Gardens                  5
Noor City                        5
Arabella Village                 5
El Shorouk Springs               5
Atika                            5
Arena City Towers                4
Mashareq                         4
Gharb Golf                       4
Floria                           4
The Loft                         4
Kenz                             4
Jasmine City                     4
Zahret El Tagamo                 4
Zahwa                            4
Sun Gate                         4
Al Hayah                         4
Jodran                           4
Easy Life                        4
Rayhanah Plaza                   4
El Patio                         4
Baet El Masria                   4
Rivan                            4
Arabia                           4
Creek Town                       3
County                           3
Porto October                    3
Lakefront                        3
Diplomats                        3
Haram City                       3
Moon Garden                      3
Mena Residence                   3
Life Garden                      3
Aria                             3
Park Lane                        3
Vinci                            3
Joulz                            3
Six West                         3
Serrano                          2
May Fair                         2
Al Maram Landmark                2
Al Diyar                         2
ZED Towers                       2
Entrada                          2
Skyline                          2
Jewels                           2
Woodville                        2
Sky View Premier                 2
Flowers Park                     2
Smart Life                       2
Opera City                       2
Midtown Sky                      2
El Ofok El Gadid                 2
Atrio                            2
Hayat Heights                    2
Future Gate                      2
Le Ciel                          2
Mirage Residence                 2
Blue Vert                        2
West Gate                        2
Emerald Park                     2
Badya Palm Hills                 2
Zizinia El Mostakbal             1
Moon Hillls                      1
The Curve                        1
Odyssia                          1
Upside Maadi                     1
Green Yard                       1
Jada                             1
Medallion                        1
EL Patio 2                       1
Golden Heights 2                 1
Valore Sheraton                  1
Upville                          1
Ethmar Compound                  1
Al Maqsad                        1
Sedra                            1
New Giza                         1
Seabelle                         1
Zayed 2000                       1
Layan                            1
Continental Gardens              1
Stella Compounds                 1
Al Rabwa                         1
Dreamland                        1
Kattameya Residence              1
Nest Cairo                       1
Quattro                          1
La Rose                          1
Rock Ville                       1
Arabia Gate                      1
Bel Air - Sodic                  1
Serena Heights                   1
Oriana                           1
Vivienda                         1
Sky Capital View                 1
Sun Capital                      1
Cleopatra Palace                 1
La Vista City                    1
TRUE Gate                        1
Wahet El Ryhan                   1
Anakaji                          1
Sueno                            1
Armonia                          1
Green Avenue                     1
Shorouk Gardens                  1
Village Avenue                   1
Cairo Town                       1
GCR Golf City                    1
Sun City Gardens                 1
Al Solaimaneyah Golf City        1
Go Heliopolis                    1
Creek Park                       1
Stella New Cairo                 1
Etlalah                          1
Name: compound, dtype: int64

In [172]:
series = df['compound'].value_counts(normalize = False)
filt = series >= 40
categories = series[filt].index
categories

Index(['Not in Compound', 'Jewar', 'Madinaty', 'Sama', 'Beit Al Watan',
       'L’Avenir', 'Eastown', 'Makany', 'Mivida', 'Mountain View iCity',
       'Greens', 'Andalus', 'The Key', 'Dar Misr', 'Hyde Park New Cairo',
       'Rehab City', 'The Square', 'Le Jour', 'Stone Residence', 'La Verde',
       'Sakan Masr', 'Gardenia', 'Fifth Square', 'Il Mondo', 'The City',
       'Uptown Cairo', 'Sheraton Residence', 'VGK', 'Lavida', 'Agora',
       'Mountain View Hyde Park', 'Dyar', 'Taj City', 'Alma', 'Tijan',
       'Bienestar', 'Bavaria Town', 'One Kattameya', 'The Axis', 'Tag Sultan',
       'Moon Valley', 'Jayd', 'Bloomfields', 'Capital Heights 2',
       'Palm Hills New Cairo', 'Bedaya', 'Lake View', 'Cairo Festival City',
       'Sodic East', 'Villette', 'Lake view Residence', 'Hadaba',
       'Etoile de Ville', 'EL Patio 7', 'Galleria', 'De Joya', 'Granda',
       'Maadi V', 'Baron City', 'Amorada', 'Zed East', 'Ritage',
       '2020 Compound', 'Paradise', 'Sarai', 'Village Gate', 'The Village',
       'Midtown'],
      dtype='object')

In [ ]:
filt = df['compound'].apply(lambda x: x not in categories)
outliers = df[filt].index
df.drop(outliers, inplace = True)
df

In [137]:
df['meterprice']

0        9521
1        9521
2        9521
3        4064
4        9521
         ...
37704    3829
37705    3829
37706    3829
37707    3829
37708    3829
Name: meterprice, Length: 37709, dtype: int32

In [138]:
df.drop(['url','title', 'date', 'type', 'description', 'amenities','furnished','price_type','maids_room','landline','pets_allowed','covered_parking','central_ac_heating','built_in_kitchen_appliances','delivery_date'], axis=1, inplace=True)
df

,location,compound,price,area,bedrooms,level,bathrooms,payment_option,delivery_term,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,private_garden,pool,month,meterprice
0,New Cairo - El Tagamoa,Sakan Masr,175000,115,3,3,1,Cash,Core & Shell,0.0,1,1,1,0,1,1,1,0,2,9521
1,New Cairo - El Tagamoa,Sakan Masr,180000,115,3,1,1,Cash,Finished,0.0,1,0,1,0,1,1,0,0,4,9521
2,New Cairo - El Tagamoa,Sakan Masr,150000,115,3,2,1,Cash,Finished,0.0,0,0,0,0,0,0,0,0,4,9521
3,Gesr Al Suez,Not in Compound,450000,135,3,7,1,Cash,Finished,0.0,0,1,0,1,0,1,0,0,4,4064
4,New Cairo - El Tagamoa,Sakan Masr,160000,115,3,2,1,Cash,Finished,0.0,0,0,0,0,0,0,0,0,4,9521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,15 May City,Not in Compound,550000,125,3,2,1,Cash,Core & Shell,0.0,0,1,0,0,0,0,0,0,4,3829
37705,15 May City,Dar Misr,600000,140,3,3,3,Cash,Finished,0.0,0,0,0,0,0,0,0,0,4,3829
37706,15 May City,Jewar,470000,80,2,5,1,Cash,Finished,0.0,1,1,1,1,0,1,0,0,2,3829
37707,15 May City,Not in Compound,470000,100,2,4,1,Cash,Finished,0.0,1,1,1,0,0,0,1,0,2,3829
37708,15 May City,Not in Compound,440000,105,3,Ground,2,Cash,Core & Shell,0.0,0,0,0,0,0,0,0,0,4,3829

In [139]:
df = pd.get_dummies(df, columns=['location', 'compound','bedrooms', 'month','level', 'bathrooms','payment_option','delivery_term'], drop_first=True)
df

,price,area,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,private_garden,...,bathrooms_5,bathrooms_6,bathrooms_7,bathrooms_8,bathrooms_9,payment_option_Cash or Installment,payment_option_Installment,delivery_term_Finished,delivery_term_Not Finished,delivery_term_Semi Finished
0,175000,115,0.0,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,180000,115,0.0,1,0,1,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
2,150000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,450000,135,0.0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,160000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,550000,125,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37705,600000,140,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
37706,470000,80,0.0,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
37707,470000,100,0.0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
37708,440000,105,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [140]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
df

,price,area,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,private_garden,...,bathrooms_5,bathrooms_6,bathrooms_7,bathrooms_8,bathrooms_9,payment_option_Cash or Installment,payment_option_Installment,delivery_term_Finished,delivery_term_Not Finished,delivery_term_Semi Finished
0,175000,115,0.0,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,180000,115,0.0,1,0,1,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
2,150000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,450000,135,0.0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,160000,115,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,550000,125,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37705,600000,140,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
37706,470000,80,0.0,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
37707,470000,100,0.0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
37708,440000,105,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [141]:
x = df.drop('price', axis=1)
y = df['price']

In [142]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [143]:
scaler= StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [145]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

models = {
    #'LR': LinearRegression(),
    #'DT': DecisionTreeRegressor(max_depth=200),#max_depth=180
    #'KNN': KNeighborsRegressor(),#n_neighbors=9
    #'SVM': SVR(), #kernel='rbf'
    #'RF': RandomForestRegressor(n_estimators=100,max_depth=6),#n_estimators=200,max_depth=330
    'XGB': XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1,
             monotone_constraints='()', n_estimators=1000, n_jobs=4, nthread=4,
             num_parallel_tree=1, predictor='auto', random_state=27,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27,
             subsample=0.8, tree_method='exact', validate_parameters=1,
             verbosity=None)#n_estimators=200


}

for name, model in models.items():
    print(f'Training {name}...')
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print(f'Testing RMSE: {np.sqrt(mean_squared_error(y_test, y_pred))}')
    print(f'Testing MAE: {mean_absolute_error(y_test, y_pred)}')
    print(f'Testing R2: {r2_score(y_test, y_pred)}')
    print('-'*50)

Training DT...
Testing RMSE: 705219.5676847876
Testing MAE: 420558.10712983814
Testing R2: 0.3013364049324767
--------------------------------------------------
Training RF...
Testing RMSE: 605388.9352716625
Testing MAE: 432454.4418987102
Testing R2: 0.48514093444892614
--------------------------------------------------
Training XGB...
Testing RMSE: 525484.7312233291
Testing MAE: 350237.95901689946
Testing R2: 0.6120822886194971
--------------------------------------------------

In [39]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1,
             monotone_constraints='()', n_estimators=1000, n_jobs=4, nthread=4,
             num_parallel_tree=1, predictor='auto', random_state=27,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27,
             subsample=0.8, tree_method='exact', validate_parameters=1,
             verbosity=None

In [5]:
x['Sheraton']

10462.490364025696

In [61]:
from xgboost import XGBRegressor

model = XGBRegressor(random_state=42)

In [62]:
from sklearn.model_selection import GridSearchCV

In [63]:

params = [
        {'criterion':['gini', 'entropy'],
         'max_depth':[10,50,100,150,200,250],
         
         
         'n_estimators':[20, 50, 100, 150, 200, 500, 250]}
         ]

grid_search = GridSearchCV(estimator=model,
                           param_grid=params,
                           scoring='accuracy',
                           cv=10, n_jobs=-1)
grid_search.fit(x_train, y_train)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

In [ ]:
grid_search.best_score_

In [ ]:
grid_search.best_params_

In [ ]:
grid_search.best_estimator_

In [68]:
xgb1 = XGBRegressor(
 learning_rate =0.1,
 n_estimators=1000,
 max_depth=5,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 nthread=4,
 scale_pos_weight=1,
 seed=27)
xgb1.fit(x_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=1000, n_jobs=4, nthread=4,
             num_parallel_tree=1, predictor='auto', random_state=27,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27,
             subsample=0.8, tree_method='exact', validate_parameters=1,
             verbosity=None)