In this problem i scraaped a data from a public website to sell properties or any thing u want 
i scrapped the appartments in cairo with its districts to predict the good price with the apartment features to list it

In [1]:
import joblib
import time
import mysql.connector
from datetime import date
from dateutil.relativedelta import relativedelta
from datetime import datetime, timedelta
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
#ads,url_stack=joblib.load('state.pkl')

In [3]:

# df=pd.DataFrame.from_records(ads)
# df

df = pd.read_csv('olx_data_36K_V2.csv')
df

c:\users\karem\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,url,title,date,Location,Compound,Type,Price,Area (m²),Bedrooms,Level,...,Security,Natural Gas,Landline,Pets Allowed,Covered Parking,Private Garden,Pool,Maids Room,Central A/C & heating,Built in Kitchen Appliances
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-26,New Cairo - El Tagamoa,2020 Compound,Apartment,"175,000",115,3,3,...,True,True,True,True,True,False,False,False,False,False
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-12,New Cairo - El Tagamoa,NaN,Apartment,"180,000",115,3,1,...,True,True,False,False,False,False,False,False,False,False
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-26,New Cairo - El Tagamoa,NaN,Apartment,"150,000",115,3,2,...,False,False,False,False,False,False,False,False,False,False
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2022-04-24,New Cairo - El Tagamoa,NaN,Apartment,"450,000",135,3,7,...,False,True,False,False,False,False,False,False,False,False
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-26,New Cairo - El Tagamoa,NaN,Apartment,"160,000",115,3,2,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36447,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة تمليك 60م بسعر لقطة لدواعى السفر,2022-04-26,Ezbet El Nakhl,NaN,Apartment,"170,000",60,2,8,...,False,True,True,True,False,False,False,False,False,False
36448,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع في عزبة النخل الغربية,2022-04-26,Ezbet El Nakhl,NaN,Apartment,"220,000",65,2,5,...,False,True,True,False,False,False,False,False,False,False
36449,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة سكنية للبيع,2022-04-26,Ezbet El Nakhl,NaN,Apartment,"170,000",100,3,4,...,False,False,False,False,False,False,False,False,False,False
36450,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع,2022-03-29,Ezbet El Nakhl,NaN,Apartment,"140,000",70,2,8,...,False,False,False,False,False,False,False,False,False,False
36451,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع دور أرضي,2022-04-26,Ezbet El Nakhl,NaN,Apartment,"170,000",60,2,Ground,...,False,False,False,False,False,False,False,False,False,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36452 entries, 0 to 36451
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          36452 non-null  object
 1   title                        36452 non-null  object
 2   date                         36452 non-null  object
 3   Location                     36452 non-null  object
 4   Compound                     13537 non-null  object
 5   Type                         36452 non-null  object
 6   Price                        36452 non-null  object
 7   Area (m²)                    36452 non-null  object
 8   Bedrooms                     36452 non-null  object
 9   Level                        36452 non-null  object
 10  Furnished                    27751 non-null  object
 11  Price Type                   36452 non-null  object
 12  Bathrooms                    36452 non-null  object
 13  Payment Option               32563 non-null  object
 14  Description                  36452 non-null  object
 15  Amenities                    26809 non-null  object
 16  Delivery Term                25243 non-null  object
 17  Delivery Date                27829 non-null  object
 18  Down Payment                 10132 non-null  object
 19  Electricity Meter            36452 non-null  bool
 20  Balcony                      36452 non-null  bool
 21  Water Meter                  36452 non-null  bool
 22  Elevator                     36452 non-null  bool
 23  Security                     36452 non-null  bool
 24  Natural Gas                  36452 non-null  bool
 25  Landline                     36452 non-null  bool
 26  Pets Allowed                 36452 non-null  bool
 27  Covered Parking              36452 non-null  bool
 28  Private Garden               36452 non-null  bool
 29  Pool                         36452 non-null  bool
 30  Maids Room                   36452 non-null  bool
 31  Central A/C & heating        36452 non-null  bool
 32  Built in Kitchen Appliances  36452 non-null  bool
dtypes: bool(14), object(19)
memory usage: 5.8+ MB

In [5]:
df['date']

0        2022-02-26
1        2022-04-12
2        2022-04-26
3        2022-04-24
4        2022-04-26
            ...
36447    2022-04-26
36448    2022-04-26
36449    2022-04-26
36450    2022-03-29
36451    2022-04-26
Name: date, Length: 36452, dtype: object

Working with the date column to make the date from "1 month ago "  to "22/5/20122"

In [6]:
def date_correct(x):

    after_split= x.split(' ')
    if ('days' or 'day') in after_split[1]:
        listing_date = date.today() + relativedelta(days=-int(after_split[0]))
        return(str(listing_date))
    
    elif ('months' or 'month') in after_split[1] :
        listing_date = date.today() + relativedelta(months=-int(after_split[0]))
        
        return(str(listing_date))
    elif('weeks' or 'week') in after_split[1] :
        listing_date = date.today() + relativedelta(weeks=-int(after_split[0]))
        return(str(listing_date))
    else :  
        return(str(date.today()))

In [7]:
df['date'] = df['date'].apply(date_correct)

IndexError: list index out of range

In [8]:
df['date']

0        2022-02-26
1        2022-04-12
2        2022-04-26
3        2022-04-24
4        2022-04-26
            ...
36447    2022-04-26
36448    2022-04-26
36449    2022-04-26
36450    2022-03-29
36451    2022-04-26
Name: date, Length: 36452, dtype: object

Convert date to datetime object

In [9]:
df['date']=pd.to_datetime(df['date'],format='%Y/%m/%d')

Extract month from column date

In [10]:
df['month']=df['date'].apply(lambda x: x.month)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36452 entries, 0 to 36451
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          36452 non-null  object
 1   title                        36452 non-null  object
 2   date                         36452 non-null  datetime64[ns]
 3   Location                     36452 non-null  object
 4   Compound                     13537 non-null  object
 5   Type                         36452 non-null  object
 6   Price                        36452 non-null  object
 7   Area (m²)                    36452 non-null  object
 8   Bedrooms                     36452 non-null  object
 9   Level                        36452 non-null  object
 10  Furnished                    27751 non-null  object
 11  Price Type                   36452 non-null  object
 12  Bathrooms                    36452 non-null  object
 13  Payment Option               32563 non-null  object
 14  Description                  36452 non-null  object
 15  Amenities                    26809 non-null  object
 16  Delivery Term                25243 non-null  object
 17  Delivery Date                27829 non-null  object
 18  Down Payment                 10132 non-null  object
 19  Electricity Meter            36452 non-null  bool
 20  Balcony                      36452 non-null  bool
 21  Water Meter                  36452 non-null  bool
 22  Elevator                     36452 non-null  bool
 23  Security                     36452 non-null  bool
 24  Natural Gas                  36452 non-null  bool
 25  Landline                     36452 non-null  bool
 26  Pets Allowed                 36452 non-null  bool
 27  Covered Parking              36452 non-null  bool
 28  Private Garden               36452 non-null  bool
 29  Pool                         36452 non-null  bool
 30  Maids Room                   36452 non-null  bool
 31  Central A/C & heating        36452 non-null  bool
 32  Built in Kitchen Appliances  36452 non-null  bool
 33  month                        36452 non-null  int64
dtypes: bool(14), datetime64[ns](1), int64(1), object(18)
memory usage: 6.0+ MB

All coulmns 00000000

In [12]:
# df[['Electricity Meter', 'Balcony','Water Meter','Elevator',
#         'Security','Natural Gas','Landline','Pets Allowed','Covered Parking',
#         'Private Garden','Pool','Maids Room','Central A/C & heating',
#     'Built in Kitchen Appliances']] = pd.Series([0,0,0,0,0,0,0,0,0,0,0,0,0,0])

# df

In [13]:
# df.rename({'Area_(m²)': 'Area'},inplace=True)
# df.columns = df.columns.str.replace(' ','_')
# df.rename(columns = {'area_(m²)':'Area','central_a/c_&_heating':'Central_AC_heating'}, inplace = True)
# df.columns = df.columns.str.lower()
# df.info()

In [14]:
df.isna().sum()

url                                0
title                              0
date                               0
Location                           0
Compound                       22915
Type                               0
Price                              0
Area (m²)                          0
Bedrooms                           0
Level                              0
Furnished                       8701
Price Type                         0
Bathrooms                          0
Payment Option                  3889
Description                        0
Amenities                       9643
Delivery Term                  11209
Delivery Date                   8623
Down Payment                   26320
Electricity Meter                  0
Balcony                            0
Water Meter                        0
Elevator                           0
Security                           0
Natural Gas                        0
Landline                           0
Pets Allowed                       0
Covered Parking                    0
Private Garden                     0
Pool                               0
Maids Room                         0
Central A/C & heating              0
Built in Kitchen Appliances        0
month                              0
dtype: int64

In [15]:
df['Amenities'].isna().sum()

9643

In [16]:
df['Payment Option'].unique()

array(['Cash', 'Installment', 'Cash or Installment', nan], dtype=object)

Amenities extraction and make nan values = '''' to make it All false

# Filling missing Values  loading
all missing values filling written here

# amenities

In [17]:
df['Amenities'].isna().sum()
imputer = SimpleImputer(strategy='constant',fill_value='')
df[['Amenities']] = imputer.fit_transform(df[['Amenities']])
#df[['compound']] = imputer.fit_transform(df[['compound']])


imputer2 = SimpleImputer(strategy='constant',fill_value='Cash')
df[['Payment Option']] = imputer2.fit_transform(df[['Payment Option']])

In [18]:
df['Amenities'].isna().sum()

0

In [19]:
# list_ament=['Electricity Meter', 'Balcony','Water Meter','Elevator',
#             'Security','Natural Gas','Landline','Pets Allowed','Covered Parking',
#             'Private Garden','Pool','Maids Room','Central A/C & heating',
#             'Built in Kitchen Appliances']

# for col in list_ament:

#     df[col] = df['amenities'].str.contains(col) 
 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36452 entries, 0 to 36451
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          36452 non-null  object
 1   title                        36452 non-null  object
 2   date                         36452 non-null  datetime64[ns]
 3   Location                     36452 non-null  object
 4   Compound                     13537 non-null  object
 5   Type                         36452 non-null  object
 6   Price                        36452 non-null  object
 7   Area (m²)                    36452 non-null  object
 8   Bedrooms                     36452 non-null  object
 9   Level                        36452 non-null  object
 10  Furnished                    27751 non-null  object
 11  Price Type                   36452 non-null  object
 12  Bathrooms                    36452 non-null  object
 13  Payment Option               36452 non-null  object
 14  Description                  36452 non-null  object
 15  Amenities                    36452 non-null  object
 16  Delivery Term                25243 non-null  object
 17  Delivery Date                27829 non-null  object
 18  Down Payment                 10132 non-null  object
 19  Electricity Meter            36452 non-null  bool
 20  Balcony                      36452 non-null  bool
 21  Water Meter                  36452 non-null  bool
 22  Elevator                     36452 non-null  bool
 23  Security                     36452 non-null  bool
 24  Natural Gas                  36452 non-null  bool
 25  Landline                     36452 non-null  bool
 26  Pets Allowed                 36452 non-null  bool
 27  Covered Parking              36452 non-null  bool
 28  Private Garden               36452 non-null  bool
 29  Pool                         36452 non-null  bool
 30  Maids Room                   36452 non-null  bool
 31  Central A/C & heating        36452 non-null  bool
 32  Built in Kitchen Appliances  36452 non-null  bool
 33  month                        36452 non-null  int64
dtypes: bool(14), datetime64[ns](1), int64(1), object(18)
memory usage: 6.0+ MB

In [20]:
list_ament=['Electricity Meter', 'Balcony','Water Meter','Elevator',
            'Security','Natural Gas','Landline','Pets Allowed','Covered Parking',
            'Private Garden','Pool','Maids Room','Central A/C & heating',
            'Built in Kitchen Appliances']

ls1 = ['مياة', 'عداد كهرباء','غاز','تكييف مركزي','مصعد','حمام سباحه','جاردن','بلكونة']
ls2 = ['Water Meter', 'Electricity Meter', 'Natural Gas','Central A/C & heating','Elevator','Pool','Private Garden','Balcony']
mny_map = dict(zip(ls2, ls1))

def check_amenity(row, col):
    if col in row['Amenities'] or mny_map.get(col, 'none') in row['Description'] :
        return 1
    else:
        return 0

for col in list_ament:
    df[col] = df.apply(check_amenity, args=[col], axis=1)

In [21]:
mny_map.get('Water Meter','none')

'مياة'

In [22]:
for x in list_ament:
    df[x]=df[x].replace(True,1)
    df[x]=df[x].replace(False,0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36452 entries, 0 to 36451
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          36452 non-null  object
 1   title                        36452 non-null  object
 2   date                         36452 non-null  datetime64[ns]
 3   Location                     36452 non-null  object
 4   Compound                     13537 non-null  object
 5   Type                         36452 non-null  object
 6   Price                        36452 non-null  object
 7   Area (m²)                    36452 non-null  object
 8   Bedrooms                     36452 non-null  object
 9   Level                        36452 non-null  object
 10  Furnished                    27751 non-null  object
 11  Price Type                   36452 non-null  object
 12  Bathrooms                    36452 non-null  object
 13  Payment Option               36452 non-null  object
 14  Description                  36452 non-null  object
 15  Amenities                    36452 non-null  object
 16  Delivery Term                25243 non-null  object
 17  Delivery Date                27829 non-null  object
 18  Down Payment                 10132 non-null  object
 19  Electricity Meter            36452 non-null  int64
 20  Balcony                      36452 non-null  int64
 21  Water Meter                  36452 non-null  int64
 22  Elevator                     36452 non-null  int64
 23  Security                     36452 non-null  int64
 24  Natural Gas                  36452 non-null  int64
 25  Landline                     36452 non-null  int64
 26  Pets Allowed                 36452 non-null  int64
 27  Covered Parking              36452 non-null  int64
 28  Private Garden               36452 non-null  int64
 29  Pool                         36452 non-null  int64
 30  Maids Room                   36452 non-null  int64
 31  Central A/C & heating        36452 non-null  int64
 32  Built in Kitchen Appliances  36452 non-null  int64
 33  month                        36452 non-null  int64
dtypes: datetime64[ns](1), int64(15), object(18)
memory usage: 9.5+ MB

In [23]:
df['Water Meter'].value_counts()

1    19304
0    17148
Name: Water Meter, dtype: int64

In [24]:
df.rename({'Area_(m²)': 'Area'},inplace=True)
df.columns = df.columns.str.replace(' ','_')
df.rename(columns = {'area_(m²)':'Area','central_a/c_&_heating':'Central_AC_heating'}, inplace = True)
df.columns = df.columns.str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36452 entries, 0 to 36451
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          36452 non-null  object
 1   title                        36452 non-null  object
 2   date                         36452 non-null  datetime64[ns]
 3   location                     36452 non-null  object
 4   compound                     13537 non-null  object
 5   type                         36452 non-null  object
 6   price                        36452 non-null  object
 7   area_(m²)                    36452 non-null  object
 8   bedrooms                     36452 non-null  object
 9   level                        36452 non-null  object
 10  furnished                    27751 non-null  object
 11  price_type                   36452 non-null  object
 12  bathrooms                    36452 non-null  object
 13  payment_option               36452 non-null  object
 14  description                  36452 non-null  object
 15  amenities                    36452 non-null  object
 16  delivery_term                25243 non-null  object
 17  delivery_date                27829 non-null  object
 18  down_payment                 10132 non-null  object
 19  electricity_meter            36452 non-null  int64
 20  balcony                      36452 non-null  int64
 21  water_meter                  36452 non-null  int64
 22  elevator                     36452 non-null  int64
 23  security                     36452 non-null  int64
 24  natural_gas                  36452 non-null  int64
 25  landline                     36452 non-null  int64
 26  pets_allowed                 36452 non-null  int64
 27  covered_parking              36452 non-null  int64
 28  private_garden               36452 non-null  int64
 29  pool                         36452 non-null  int64
 30  maids_room                   36452 non-null  int64
 31  central_a/c_&_heating        36452 non-null  int64
 32  built_in_kitchen_appliances  36452 non-null  int64
 33  month                        36452 non-null  int64
dtypes: datetime64[ns](1), int64(15), object(18)
memory usage: 9.7+ MB

In [25]:
df.isna().sum()

url                                0
title                              0
date                               0
location                           0
compound                       22915
type                               0
price                              0
area_(m²)                          0
bedrooms                           0
level                              0
furnished                       8701
price_type                         0
bathrooms                          0
payment_option                     0
description                        0
amenities                          0
delivery_term                  11209
delivery_date                   8623
down_payment                   26320
electricity_meter                  0
balcony                            0
water_meter                        0
elevator                           0
security                           0
natural_gas                        0
landline                           0
pets_allowed                       0
covered_parking                    0
private_garden                     0
pool                               0
maids_room                         0
central_a/c_&_heating              0
built_in_kitchen_appliances        0
month                              0
dtype: int64

Replacing Price value in column Price Type to Not Negotiable

In [26]:
df['price_type'].unique()

array(['Price', 'Negotiable'], dtype=object)

In [27]:
df['price_type'] = [i.replace("Price", "Not Negotiable") for i in df['price_type']]

In [28]:
df['price_type'].unique()

array(['Not Negotiable', 'Negotiable'], dtype=object)

# Compound

We replaced nan values to sakan  masr from the known describtion

In [39]:
indexes_of_Sakan=df.index[df['description'].str.contains('سكن مصر')].tolist()
indexes_of_Sakan2=df.index[df['title'].str.contains('سكن مصر')].tolist()

for i in indexes_of_Sakan:
    df['compound'][i]='Sakan Masr'
for i in indexes_of_Sakan2:
     df['compound'][i]='Sakan Masr'

<ipython-input-39-058df3d3e19f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['compound'][i]='Sakan Masr'
<ipython-input-39-058df3d3e19f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['compound'][i]='Sakan Masr'

In [40]:
for i in indexes_of_Sakan:
    df.loc[i,"compound"]="Sakan Masr"

All sakan masr in  Tgamo3 that's right :)

In [41]:
df[df['location']=='New Cairo - El Tagamoa'][df['compound']=='Sakan Masr']

<ipython-input-41-2067322e8556>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['location']=='New Cairo - El Tagamoa'][df['compound']=='Sakan Masr']

,url,title,date,location,compound,type,price,area_(m²),bedrooms,level,...,Security,Natural Gas,Landline,Pets Allowed,Covered Parking,Private Garden,Pool,Maids Room,Central A/C & heating,Built in Kitchen Appliances
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"175,000",115,3,3,...,1,1,1,1,1,1,0,0,0,0
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-12,New Cairo - El Tagamoa,Sakan Masr,Apartment,"180,000",115,3,1,...,1,1,0,0,0,0,0,0,0,0
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"150,000",115,3,2,...,0,0,0,0,0,0,0,0,0,0
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"160,000",115,3,2,...,0,0,0,0,0,0,0,0,0,0
5,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس ١١٥م للبيع بالمرحلة الاولى است...,2022-04-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"190,000",115,3,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15445,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع بسكن مصر التجمع,2022-02-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"310,000",115,3,4,...,0,0,0,0,0,0,0,0,0,0
15450,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه بسكن مصر الاندلس القاهرة الجديدة للبيع,2022-04-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"517,000",115,3,5,...,1,1,1,0,0,0,0,0,0,0
15451,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع بمشروع سكن مصر اكتوبر الداون تاون,2022-04-05,New Cairo - El Tagamoa,Sakan Masr,Apartment,"400,000",115,3,4,...,0,0,0,0,0,0,0,0,0,1
15457,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع سكن مصر القاهرة الجديدة,2022-02-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"550,000",106,3,Ground,...,0,1,0,0,0,0,0,0,0,0
15458,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر,2022-02-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"530,000",115,3,5,...,0,0,0,0,0,0,0,0,0,0

In [42]:
df[(df['compound'].isna()) & (df['location']=='New Cairo - El Tagamoa')]

,url,title,date,location,compound,type,price,area_(m²),bedrooms,level,...,Security,Natural Gas,Landline,Pets Allowed,Covered Parking,Private Garden,Pool,Maids Room,Central A/C & heating,Built in Kitchen Appliances
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2022-04-24,New Cairo - El Tagamoa,NaN,Apartment,"450,000",135,3,7,...,0,1,0,0,0,0,0,0,0,0
6,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة بمدينة العاشر من رمضان للبيع بسعر لقطة لسر...,2022-01-26,New Cairo - El Tagamoa,NaN,Apartment,"197,000",90,3,2,...,0,1,1,1,0,0,0,0,0,0
15,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع بعمارات الفاروقيه شارع جسر السويس,2022-04-26,New Cairo - El Tagamoa,NaN,Apartment,"95,000",166,3,7,...,0,0,0,0,0,0,0,0,0,0
19,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع,2022-04-26,New Cairo - El Tagamoa,NaN,Apartment,"200,000",120,3,3,...,0,1,1,0,0,0,0,0,0,0
20,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه في التجع امام الحامعه,2022-02-26,New Cairo - El Tagamoa,NaN,Apartment,"145,000",150,3,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15557,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه ١٨٦ م متشطبه إستلام فوري بالتجمع الخامس ال...,2022-03-29,New Cairo - El Tagamoa,NaN,Apartment,"2,500,000",186,2,2,...,1,0,0,0,1,0,0,0,0,0
15569,https://www.olx.com.eg/en/ad/apartment-with-ga...,Apartment with Garden at The Village Palm Hill...,2022-04-24,New Cairo - El Tagamoa,NaN,Apartment,"2,800,000",146,2,Ground,...,1,0,0,1,0,1,0,0,0,1
15583,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه ارضي 146 متر بجاردن للبيع في كمبوند ذا فيل...,2022-02-26,New Cairo - El Tagamoa,NaN,Apartment,"3,300,000",146,2,Ground,...,0,0,0,0,0,1,0,0,0,0
15595,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع بالمطبخ والتكيفات بكايروفيستيفال سيت...,2022-04-12,New Cairo - El Tagamoa,NaN,Apartment,"3,650,000",146,2,2,...,1,1,0,0,0,0,0,0,1,1
15620,https://www.olx.com.eg/en/ad/%D8%B1%D9%88%D9%8...,رووف النرجس ٤ فيلات التجمع الخامس,2022-02-26,New Cairo - El Tagamoa,NaN,Apartment,"4,000,000",345,2,3,...,0,1,1,1,1,0,0,0,0,0

In [43]:
df[df['location']=='Gesr Al Suez']

,url,title,date,location,compound,type,price,area_(m²),bedrooms,level,...,Security,Natural Gas,Landline,Pets Allowed,Covered Parking,Private Garden,Pool,Maids Room,Central A/C & heating,Built in Kitchen Appliances
26675,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع تلاته غرفه,2022-01-26,Gesr Al Suez,NaN,Apartment,"65,000",130,3,1,...,0,1,0,0,0,0,0,0,0,0
26676,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه بالعجمي للبدل بسياره,2022-01-26,Gesr Al Suez,NaN,Apartment,"160,000",90,2,10,...,0,0,0,0,0,0,0,0,0,0
26677,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع كاش أو بالتقسيط,2022-01-26,Gesr Al Suez,NaN,Apartment,"50,000",150,3,4,...,1,1,1,0,1,0,0,0,0,1
26678,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة تسليم مفتاح,2022-02-26,Gesr Al Suez,NaN,Apartment,"30,000",65,2,3,...,0,0,1,0,0,0,0,0,0,0
26679,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بشارع جمال عبد الناصر جسر السويس الق...,2022-02-26,Gesr Al Suez,NaN,Apartment,"170,000",80,2,7,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27884,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع با اجمل موقع بجسر السويس امام عمارات...,2022-04-26,Gesr Al Suez,NaN,Apartment,"1,400,000",170,3,10,...,1,0,0,0,0,0,0,0,0,0
27885,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع فى مدينتى بدون عموووله,2022-02-26,Gesr Al Suez,Madinaty,Apartment,"1,300,000",77,2,2,...,0,0,0,0,0,0,0,0,0,0
27886,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه بميدان الحجازمصرالجديده١٨٠م,2022-02-26,Gesr Al Suez,NaN,Apartment,"1,650,000",180,3,1,...,0,0,0,0,0,0,0,0,0,0
27887,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع في الاميريه شارع نجم ١٦٠ متر,2022-02-26,Gesr Al Suez,NaN,Apartment,"1,588,855",160,3,9,...,0,0,0,0,0,0,0,0,0,0
27888,https://www.olx.com.eg/en/ad/%D8%A8%D9%8A%D8%B...,بيع شقة سكنية على ش جسر السويس أمام سنترال مصر...,2022-04-22,Gesr Al Suez,NaN,Apartment,"1,550,000",148,3,10+,...,1,1,0,0,1,0,0,0,0,1

In [44]:
indexes_of_Sakan=df.index[df['description'].str.contains('جسر السويس')].tolist()
indexes_of_Sakan2=df.index[df['title'].str.contains('جسر السويس')].tolist()

x=len(indexes_of_Sakan)+len(indexes_of_Sakan2)
x-1214

338

# Location errors

In [45]:
list_of_locations=df['location'].unique().tolist()
list_of_locations

['New Cairo - El Tagamoa',
 'Madinaty',
 'New Capital City',
 'Nasr City',
 'Rehab City',
 'Shorouk City',
 'Maadi',
 'Obour City',
 'Heliopolis',
 'Zahraa Al Maadi',
 'Mokattam',
 'Ain Shams',
 'Gesr Al Suez',
 'Badr City',
 'Downtown Cairo',
 'Helwan',
 'Mostakbal City',
 'Helmeyat El Zaytoun',
 'New Heliopolis',
 'Sheraton',
 'Salam City',
 'New Nozha',
 'Katameya',
 'Shubra',
 'Hadayek al-Kobba',
 'Hadayek Helwan',
 'Matareya',
 'Marg',
 'Dar al-Salaam',
 'Ezbet El Nakhl']

In [46]:
list_of_arabic_locations=['الشروق','مدينتي','العاشر من رمضان','الوايلي','المرج','عزبة النخل','الماظة','15 مايو','المطرية','مطرية'
                         ,'وايلي','السيدة زينب','سيدة زينب','المنيل','منيل','عباسية','العباسية','زاويه','الزاوية','زاوية','الزاويه',
                         'عزبة النخل','عين شمس','مصر الجديدة','قطامية',
                         'نزهة','حدائق المعادي','حدايق المعادي','حدائق حلوان','حدايق حلوان'
                         ,'شبرا'
                         ,'دار السلام','مرج','حدائق القبة','حدايق القبة','بساتين','زمالك','شيراتون','مدينة السلام','حلمية الزيتون','حلميه الزيتون','الشروق',
                          'عباسيه','المطريه','مطريه',
                         'مدينتى','مدينة نصر','الرحاب',
                          'الزتون','المعادى','المعادي','العبور','زهراء مدينة','زهراء المعادي','مقطم','جسر السويس','مدينة بدر','وسط البلد','مدينة المستقبل'
                         ,'عاصمه','عاصمة','العاصمه','العاصمة','التجمع','حدايق القبه','المنيل','القطاميه'
                          ,'قطاميه','السيده زينب','سيده زينب'
                          ,'العباسيه']
list_of_arabic_locations
list_of_english_locations=list_of_locations
# list_of_english_locations.append('New Cairo')
list_of_english_locations

['New Cairo - El Tagamoa',
 'Madinaty',
 'New Capital City',
 'Nasr City',
 'Rehab City',
 'Shorouk City',
 'Maadi',
 'Obour City',
 'Heliopolis',
 'Zahraa Al Maadi',
 'Mokattam',
 'Ain Shams',
 'Gesr Al Suez',
 'Badr City',
 'Downtown Cairo',
 'Helwan',
 'Mostakbal City',
 'Helmeyat El Zaytoun',
 'New Heliopolis',
 'Sheraton',
 'Salam City',
 'New Nozha',
 'Katameya',
 'Shubra',
 'Hadayek al-Kobba',
 'Hadayek Helwan',
 'Matareya',
 'Marg',
 'Dar al-Salaam',
 'Ezbet El Nakhl']

In [47]:
[x.lower() for x in list_of_english_locations]

['new cairo - el tagamoa',
 'madinaty',
 'new capital city',
 'nasr city',
 'rehab city',
 'shorouk city',
 'maadi',
 'obour city',
 'heliopolis',
 'zahraa al maadi',
 'mokattam',
 'ain shams',
 'gesr al suez',
 'badr city',
 'downtown cairo',
 'helwan',
 'mostakbal city',
 'helmeyat el zaytoun',
 'new heliopolis',
 'sheraton',
 'salam city',
 'new nozha',
 'katameya',
 'shubra',
 'hadayek al-kobba',
 'hadayek helwan',
 'matareya',
 'marg',
 'dar al-salaam',
 'ezbet el nakhl']

In [48]:
 for y in list_of_english_locations:
            df[(df['title'].str.contains(y)) | (df['description'].str.contains(y))]
            df['location'][i]=y

#             for z in list_of_arabic_locations:
#                 df[(df['title'].str.contains(z)) | (df['description'].str.contains(z))]
#                     df['location'][i]=z

<ipython-input-48-d870b7b0969c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location'][i]=y

In [49]:
df2=df[0:10]
df2

,url,title,date,location,compound,type,price,area_(m²),bedrooms,level,...,Security,Natural Gas,Landline,Pets Allowed,Covered Parking,Private Garden,Pool,Maids Room,Central A/C & heating,Built in Kitchen Appliances
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"175,000",115,3,3,...,1,1,1,1,1,1,0,0,0,0
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-12,New Cairo - El Tagamoa,Sakan Masr,Apartment,"180,000",115,3,1,...,1,1,0,0,0,0,0,0,0,0
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"150,000",115,3,2,...,0,0,0,0,0,0,0,0,0,0
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2022-04-24,New Cairo - El Tagamoa,NaN,Apartment,"450,000",135,3,7,...,0,1,0,0,0,0,0,0,0,0
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"160,000",115,3,2,...,0,0,0,0,0,0,0,0,0,0
5,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس ١١٥م للبيع بالمرحلة الاولى است...,2022-04-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"190,000",115,3,1,...,0,1,0,0,0,0,0,0,0,0
6,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة بمدينة العاشر من رمضان للبيع بسعر لقطة لسر...,2022-01-26,New Cairo - El Tagamoa,NaN,Apartment,"197,000",90,3,2,...,0,1,1,1,0,0,0,0,0,0
7,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ شقه ١١٥م للبيع مستلمه,2022-04-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"210,000",115,3,2,...,0,1,0,0,0,0,0,0,0,0
8,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه لسرعه البيع شقة سكن مصر هلي جنه مباشر,2022-02-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"135,000",115,3,2,...,0,0,0,0,0,0,0,0,0,0
9,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله اولى شقه ١١٥م للبيع اوفر...,2022-04-26,New Cairo - El Tagamoa,Sakan Masr,Apartment,"190,000",115,3,1,...,0,1,0,0,0,0,0,0,0,0

In [50]:
list_of_english_locations

['New Cairo - El Tagamoa',
 'Madinaty',
 'New Capital City',
 'Nasr City',
 'Rehab City',
 'Shorouk City',
 'Maadi',
 'Obour City',
 'Heliopolis',
 'Zahraa Al Maadi',
 'Mokattam',
 'Ain Shams',
 'Gesr Al Suez',
 'Badr City',
 'Downtown Cairo',
 'Helwan',
 'Mostakbal City',
 'Helmeyat El Zaytoun',
 'New Heliopolis',
 'Sheraton',
 'Salam City',
 'New Nozha',
 'Katameya',
 'Shubra',
 'Hadayek al-Kobba',
 'Hadayek Helwan',
 'Matareya',
 'Marg',
 'Dar al-Salaam',
 'Ezbet El Nakhl']

In [51]:
loc1 = ['التجمع','مدينتي','العاصمه','مدينة نصر','الرحاب','الشروق','معادي','العبور','مصر الجديده','زهراء المعادي','مقطم','عين شمس','جسر السويس','بدر','وسط البلد','حلوان','مدينة المستقبل','حلمية الزاتون','شيراتون','مدينة السلام','النزهه الجديده','قطاميه','شبرا','حدائق القبه','حدائق حلوان','مطريه','المرج','دار السلام','عزبة النخل','الزاويه الحمرا','الوايلي','المنيل','الزمالك','الماظه','عباسيه','سيده زينب','بستين','الامريه','15 مايو']
loc2 = ['New Cairo - El Tagamoa','Madinaty','New Capital City','Nasr City','Rehab City','Shorouk City','Maadi','Obour City','Heliopolis','Zahraa Al Maadi','Mokattam','Ain Shams','Gesr Al Suez','Badr City','Downtown Cairo','Helwan','Mostakbal City','Helmeyat El Zaytoun','Sheraton','Salam City','New Nozha','Katameya','Shubra','Hadayek al-Kobba','Hadayek Helwan','Matareya','Marg','Dar al-Salaam','Ezbet El Nakhl','Zawya al-Hamra','Waili','Al Manial','Zamalek','Almazah','Abasiya','Sayeda Zeinab','Basateen','Al Amiriyyah','15 May City']
mini_map = dict(zip(loc2, loc1))
mini_map
list_of_locations

['New Cairo - El Tagamoa',
 'Madinaty',
 'New Capital City',
 'Nasr City',
 'Rehab City',
 'Shorouk City',
 'Maadi',
 'Obour City',
 'Heliopolis',
 'Zahraa Al Maadi',
 'Mokattam',
 'Ain Shams',
 'Gesr Al Suez',
 'Badr City',
 'Downtown Cairo',
 'Helwan',
 'Mostakbal City',
 'Helmeyat El Zaytoun',
 'New Heliopolis',
 'Sheraton',
 'Salam City',
 'New Nozha',
 'Katameya',
 'Shubra',
 'Hadayek al-Kobba',
 'Hadayek Helwan',
 'Matareya',
 'Marg',
 'Dar al-Salaam',
 'Ezbet El Nakhl']

In [52]:
df['location'].value_counts()

New Cairo - El Tagamoa    15621
Madinaty                   3545
Heliopolis                 1665
Zahraa Al Maadi            1350
Mokattam                   1267
Ain Shams                  1260
Gesr Al Suez               1214
Badr City                  1078
Helwan                      811
Downtown Cairo              810
Helmeyat El Zaytoun         765
Mostakbal City              720
Nasr City                   719
New Heliopolis              594
New Capital City            491
Sheraton                    451
Salam City                  450
Katameya                    434
Hadayek al-Kobba            406
Shubra                      405
New Nozha                   404
Hadayek Helwan              360
Marg                        315
Matareya                    314
Dar al-Salaam               225
Shorouk City                223
Maadi                       218
Obour City                  193
Rehab City                  123
Ezbet El Nakhl               21
Name: location, dtype: int64

In [53]:
def check_loc(row, col):
    if mini_map.get(col, 'none') in row['description'] or mini_map.get(col, 'none') in row['title'] :
        return col
    else:
        return row['location']

for col in list_of_locations:
    df['location'] = df.apply(check_loc, args=[col], axis=1)

In [54]:
df['location'].value_counts()

New Cairo - El Tagamoa    12942
Madinaty                   3814
Badr City                  1677
Gesr Al Suez               1552
Heliopolis                 1344
Rehab City                 1248
Mokattam                   1225
Nasr City                  1160
Ain Shams                  1091
Zahraa Al Maadi            1082
Helwan                      856
Mostakbal City              750
New Capital City            708
Downtown Cairo              652
Maadi                       644
Helmeyat El Zaytoun         614
Shorouk City                570
Katameya                    494
Sheraton                    476
Shubra                      443
Salam City                  428
Hadayek al-Kobba            401
Marg                        364
New Nozha                   355
Obour City                  348
Hadayek Helwan              347
Matareya                    320
New Heliopolis              291
Dar al-Salaam               199
Ezbet El Nakhl               57
Name: location, dtype: int64

In [55]:
def newHtoH(row):
    if row['location'] == 'New Heliopolis' :
        return 'Heliopolis'
    else:
        return row['location']

df['location'] = df.apply(newHtoH, axis=1)

In [56]:
df['location'].value_counts()

New Cairo - El Tagamoa    12942
Madinaty                   3814
Badr City                  1677
Heliopolis                 1635
Gesr Al Suez               1552
Rehab City                 1248
Mokattam                   1225
Nasr City                  1160
Ain Shams                  1091
Zahraa Al Maadi            1082
Helwan                      856
Mostakbal City              750
New Capital City            708
Downtown Cairo              652
Maadi                       644
Helmeyat El Zaytoun         614
Shorouk City                570
Katameya                    494
Sheraton                    476
Shubra                      443
Salam City                  428
Hadayek al-Kobba            401
Marg                        364
New Nozha                   355
Obour City                  348
Hadayek Helwan              347
Matareya                    320
Dar al-Salaam               199
Ezbet El Nakhl               57
Name: location, dtype: int64

In [29]:
df['compound'].unique()

array(['2020 Compound', nan, 'Dar Misr', 'ALBA', 'Upville',
       'Not in Compound', 'Andalus', 'Zahret El Tagamo', 'Haram City',
       'Al Diyar', 'Nakheel', 'Light City', 'Madinaty', 'Stone Residence',
       'Galleria Moon Valley', 'Amorada', 'Fifth Square', 'Al Burouj',
       'Dreamland', 'Eastown', 'Jayd', 'The Address East',
       'Al Riyadh Secon', 'Makany', 'Uptown Cairo', 'Sun City',
       'Baron City', 'Rehab City', 'Zizinia Gardens', 'Ritage', 'Mivida',
       'Mountain View iCity', 'Sun City Gardens', 'El Khamayel',
       'GCR Golf City', 'Highland Park', 'Sarai', 'Hyde Park New Cairo',
       'Galleria', 'La Mirada', 'Al Yasmine', 'Tag Sultan', 'Asala',
       'Arabella Village', 'The Square', 'Smart Life', 'AZAD',
       'Sky View Premier', 'Flowers Park', 'Family City',
       'Hayati Residence', 'One Kattameya', 'Zahwa', 'Regents Park',
       'Hayah Residence', 'Katameya Plaza', 'Mena Residence',
       'Mountain View Hyde Park', 'Promenade New Cairo',
       'Village Gardens Katameya', 'Sodic East', 'VGK', 'Midtown',
       'Mirage Residence', 'Park View', 'Katameya Breeze',
       'Palm Hills New Cairo', 'District 5 Compound', 'Atrio',
       '90 Avenue', 'EL Patio 7', 'Villette', 'Swan Lake', 'Lake View',
       'The Waterway Compound', 'Abu Al-Hool', 'Gardenia', 'Degla Palms',
       'Grand Heights', 'Kattameya Gardens', 'Taj City', 'L’Avenir',
       'Lake view Residence', 'Porto New Cairo', 'Katameya Heights',
       'The Village', 'Zed East', 'Bloomfields', 'Trio Gardens',
       'Cairo Festival City', 'Degla Towers', 'Capital Heights 2',
       'Atika', 'EL Patio ORO', 'Village Gate', 'Beit Al Watan',
       'Sky Condos Sodic', 'Sephora Heights', 'Blue Vert', 'Beta Greens',
       'Village Avenue', 'IL Bosco', 'The Brooks', 'Castle Landmark',
       'Haptown', 'Noor City', 'La Fontaine Province', 'Ivy Residence',
       'Granda', 'Grand Gate', 'Rock Vera', 'Midtown Condo', 'Il Mondo',
       'EL Patio Casa', 'Hayat Heights', 'Aria', 'Roses', 'Century City',
       'Neopolis', 'OIA', 'Odyssia', 'Heliopolis Residence', 'Six West',
       'Oriana', 'Scenario', 'La Vida', 'High City', 'Sun Capital',
       'Moon City', 'Garden Hills', 'Bel Air - Sodic', 'Paradise', 'Yaru',
       'Rock Ville', 'ABHA', 'Capital Gardens', 'Quattro',
       'Mountain View Executive', 'The Icon Residence', 'Grand Residence',
       'Ashgar City', 'Hadaba', 'El Shorouk Springs', 'Woodville',
       'Korba Heights', 'Italian Square', 'Concord Gardens', 'Diplomats',
       'Serena Heights', 'Sheraton Residence', 'Akoya', 'El Patio',
       'Leila', 'The Axis', 'Scene 7', 'The View', 'Kattameya Gate',
       'IL Bosco City', 'Degla View', 'Maadi V', 'Baet El Masria',
       'Catalan', 'Zizinia El Mostakbal', 'De Joya', 'Botanica',
       'Midtown Sky', 'Rhodes', 'Porto Cairo', 'Park Lane',
       'Green Square', 'The City', 'Mountain View 1',
       'Palm Hills Alexandria', 'Stone Park', 'Leena Springs', 'The Loft',
       'Sarayat El Kattameya', 'Moon Valley', 'Nest Cairo', 'Celia',
       'Monte Napoleon', 'Rivan', 'Moon Garden', 'Aswar', 'Beta Gardens',
       'Life Garden', 'Degla Landmark', 'La Rose', 'Alico city',
       'Rawdat Zayed', 'Ashrafeya', 'Arabia', 'Dyar', 'Armonia',
       'Creek Town', 'Arabia Gate', 'Serrano', 'Opera City',
       'Future Gate', 'Mountain View 2', 'Le Ciel', 'Al Maram Landmark',
       'ZED Towers', 'Vivienda', 'Entrada', 'Skyline', 'Sky Capital View',
       'Jasmine City', 'Easy Life', 'Town Gate', 'Kayan', 'Bavaria Town',
       'Crystal Plaza', 'Cleopatra Palace', 'Emerald Park',
       'Badya Palm Hills', 'The Capital Way', 'Greens', 'La Vista City',
       'La Verde', 'Palm Hills Katameya', 'Les Rois', 'TRUE Gate',
       'Azalea', 'Al Hayah', 'Gharb Golf', 'Marvel City', 'Lavida',
       'Floria', 'Al Maqsad', 'Kenz', 'Stau', 'Pukka', 'Sueno', 'Vinci',
       'Green Avenue', 'Shorouk Gardens', 'Al Rabwa', 'Arena City Towers',
       'Eshraqa', 'Golden Heights', 'Maadi View', 'East Cairo',
       'Maadi Gardens', 'Tijan', 'Kattameya Palms', 'Maadi Valley',
       'Maadi Grand City', 'Rayhanah Avenue', 'Etoile de Ville',
       'Al Solaimaneyah Golf City', 'County', 'Go Heliopolis',
       'Creek Park', 'Porto Heliopolis', 'Sun Gate', 'Stella New Cairo',
       'Sama', 'Alma', 'Wahet El Ryhan', 'Next Point', 'Bienestar',
       'May Fair', 'Jodran', 'The Key', 'Mirage City', 'Rayhanah Plaza',
       'Seabelle', 'Upside Maadi', 'Rayhanah Residence', 'Lakefront',
       'El Ashgar District', 'Murooj', 'Asmarat Heights', 'Florenta',
       'Golden Heights 2', 'Art City', 'Le Jour', 'Agora',
       'Ethmar Compound', 'Stella Compounds', 'El Ofok El Gadid',
       'EL Patio 2', 'Porto October', 'Villino', 'Jewels', 'Sedra',
       'The Curve', 'Jewar', 'Aeon', 'Jada', 'Cairo Town', 'Azzar',
       'Mashareq', 'New Giza', 'Zayed 2000', 'Bedaya', 'Moon Hillls',
       'Etlalah', 'Joulz', 'Medallion', 'Valore Sheraton', 'Green Yard',
       'Kattameya Residence', 'West Gate', 'Degla Gardens',
       'Continental Gardens', 'Layan', 'Al-Jazeera'], dtype=object)

In [51]:
lse=list(df['compound'].unique())
lsa=[]
del lse[5]

In [52]:
del lse[1]

In [53]:
lse

['2020 Compound',
 'Dar Misr',
 'ALBA',
 'Upville',
 'Andalus',
 'Zahret El Tagamo',
 'Haram City',
 'Al Diyar',
 'Nakheel',
 'Light City',
 'Madinaty',
 'Stone Residence',
 'Galleria Moon Valley',
 'Amorada',
 'Fifth Square',
 'Al Burouj',
 'Dreamland',
 'Eastown',
 'Jayd',
 'The Address East',
 'Al Riyadh Secon',
 'Makany',
 'Uptown Cairo',
 'Sun City',
 'Baron City',
 'Rehab City',
 'Zizinia Gardens',
 'Ritage',
 'Mivida',
 'Mountain View iCity',
 'Sun City Gardens',
 'El Khamayel',
 'GCR Golf City',
 'Highland Park',
 'Sarai',
 'Hyde Park New Cairo',
 'Galleria',
 'La Mirada',
 'Al Yasmine',
 'Tag Sultan',
 'Asala',
 'Arabella Village',
 'The Square',
 'Smart Life',
 'AZAD',
 'Sky View Premier',
 'Flowers Park',
 'Family City',
 'Hayati Residence',
 'One Kattameya',
 'Zahwa',
 'Regents Park',
 'Hayah Residence',
 'Katameya Plaza',
 'Mena Residence',
 'Mountain View Hyde Park',
 'Promenade New Cairo',
 'Village Gardens Katameya',
 'Sodic East',
 'VGK',
 'Midtown',
 'Mirage Residence',
 'Park View',
 'Katameya Breeze',
 'Palm Hills New Cairo',
 'District 5 Compound',
 'Atrio',
 '90 Avenue',
 'EL Patio 7',
 'Villette',
 'Swan Lake',
 'Lake View',
 'The Waterway Compound',
 'Abu Al-Hool',
 'Gardenia',
 'Degla Palms',
 'Grand Heights',
 'Kattameya Gardens',
 'Taj City',
 'L’Avenir',
 'Lake view Residence',
 'Porto New Cairo',
 'Katameya Heights',
 'The Village',
 'Zed East',
 'Bloomfields',
 'Trio Gardens',
 'Cairo Festival City',
 'Degla Towers',
 'Capital Heights 2',
 'Atika',
 'EL Patio ORO',
 'Village Gate',
 'Beit Al Watan',
 'Sky Condos Sodic',
 'Sephora Heights',
 'Blue Vert',
 'Beta Greens',
 'Village Avenue',
 'IL Bosco',
 'The Brooks',
 'Castle Landmark',
 'Haptown',
 'Noor City',
 'La Fontaine Province',
 'Ivy Residence',
 'Granda',
 'Grand Gate',
 'Rock Vera',
 'Midtown Condo',
 'Il Mondo',
 'EL Patio Casa',
 'Hayat Heights',
 'Aria',
 'Roses',
 'Century City',
 'Neopolis',
 'OIA',
 'Odyssia',
 'Heliopolis Residence',
 'Six West',
 'Oriana',
 'Scenario',
 'La Vida',
 'High City',
 'Sun Capital',
 'Moon City',
 'Garden Hills',
 'Bel Air - Sodic',
 'Paradise',
 'Yaru',
 'Rock Ville',
 'ABHA',
 'Capital Gardens',
 'Quattro',
 'Mountain View Executive',
 'The Icon Residence',
 'Grand Residence',
 'Ashgar City',
 'Hadaba',
 'El Shorouk Springs',
 'Woodville',
 'Korba Heights',
 'Italian Square',
 'Concord Gardens',
 'Diplomats',
 'Serena Heights',
 'Sheraton Residence',
 'Akoya',
 'El Patio',
 'Leila',
 'The Axis',
 'Scene 7',
 'The View',
 'Kattameya Gate',
 'IL Bosco City',
 'Degla View',
 'Maadi V',
 'Baet El Masria',
 'Catalan',
 'Zizinia El Mostakbal',
 'De Joya',
 'Botanica',
 'Midtown Sky',
 'Rhodes',
 'Porto Cairo',
 'Park Lane',
 'Green Square',
 'The City',
 'Mountain View 1',
 'Palm Hills Alexandria',
 'Stone Park',
 'Leena Springs',
 'The Loft',
 'Sarayat El Kattameya',
 'Moon Valley',
 'Nest Cairo',
 'Celia',
 'Monte Napoleon',
 'Rivan',
 'Moon Garden',
 'Aswar',
 'Beta Gardens',
 'Life Garden',
 'Degla Landmark',
 'La Rose',
 'Alico city',
 'Rawdat Zayed',
 'Ashrafeya',
 'Arabia',
 'Dyar',
 'Armonia',
 'Creek Town',
 'Arabia Gate',
 'Serrano',
 'Opera City',
 'Future Gate',
 'Mountain View 2',
 'Le Ciel',
 'Al Maram Landmark',
 'ZED Towers',
 'Vivienda',
 'Entrada',
 'Skyline',
 'Sky Capital View',
 'Jasmine City',
 'Easy Life',
 'Town Gate',
 'Kayan',
 'Bavaria Town',
 'Crystal Plaza',
 'Cleopatra Palace',
 'Emerald Park',
 'Badya Palm Hills',
 'The Capital Way',
 'Greens',
 'La Vista City',
 'La Verde',
 'Palm Hills Katameya',
 'Les Rois',
 'TRUE Gate',
 'Azalea',
 'Al Hayah',
 'Gharb Golf',
 'Marvel City',
 'Lavida',
 'Floria',
 'Al Maqsad',
 'Kenz',
 'Stau',
 'Pukka',
 'Sueno',
 'Vinci',
 'Green Avenue',
 'Shorouk Gardens',
 'Al Rabwa',
 'Arena City Towers',
 'Eshraqa',
 'Golden Heights',
 'Maadi View',
 'East Cairo',
 'Maadi Gardens',
 'Tijan',
 'Kattameya Palms',
 'Maadi Valley',
 'Maadi Grand City',
 'Rayhanah Avenue',
 'Etoile de Ville',
 'Al Solaimaneyah Golf City',
 'County',
 'Go Heliopolis',
 'Creek Park',
 'Porto Heliopolis',
 'Sun Gate',
 'Stella New Cairo',
 'Sama',
 'Alma',
 'Wahet El Ryhan',
 'Next Point',
 'Bienestar',
 'May Fair',
 'Jodran',
 'The Key',
 'Mirage City',
 'Rayhanah Plaza',
 'Seabelle',
 'Upside Maadi',
 'Rayhanah Residence',
 'Lakefront',
 'El Ashgar District',
 'Murooj',
 'Asmarat Heights',
 'Florenta',
 'Golden Heights 2',
 'Art City',
 'Le Jour',
 'Agora',
 'Ethmar Compound',
 'Stella Compounds',
 'El Ofok El Gadid',
 'EL Patio 2',
 'Porto October',
 'Villino',
 'Jewels',
 'Sedra',
 'The Curve',
 'Jewar',
 'Aeon',
 'Jada',
 'Cairo Town',
 'Azzar',
 'Mashareq',
 'New Giza',
 'Zayed 2000',
 'Bedaya',
 'Moon Hillls',
 'Etlalah',
 'Joulz',
 'Medallion',
 'Valore Sheraton',
 'Green Yard',
 'Kattameya Residence',
 'West Gate',
 'Degla Gardens',
 'Continental Gardens',
 'Layan',
 'Al-Jazeera']

In [54]:
from deep_translator import GoogleTranslator
GoogleTranslator('auto','en').translate('Hola!')
for i in lse:
    try:
        result = GoogleTranslator('auto','arabic').translate(i)
        lsa.append(result)
        print(result)
    except:
        print('sorry')

كمبوند 2020
Dar Misr
ألبا
أبفيل
الأندلس
زهرة التجمع
مدينة الهرم
Al Diyar
Nakheel
لايت سيتي
مدينتي
ستون ريزيدنس
جاليريا مون فالى
أموردا
فيفث سكوير
Al Burouj
ارض الاحلام
ايستاون
Jayd
العنوان الشرقي
Al Riyadh Secon
مكاني
اب تاون كايرو
مدينة الشمس
بارون سيتي
مدينة الرحاب
حدائق زيزينيا
ريتاج
حياتي
ماونتن فيو اي سيتي
صن سيتى جاردنز
الخمائل
جي سي ار جولف سيتي
حديقة المرتفعات
ساراي
هايد بارك القاهرة الجديدة
جاليريا
المظهر
Al Yasmine
تاج سلطان
أصالة
قرية ارابيلا
المربع
الحياة الذكية
أزاد
سكاي فيو بريمير
حديقة الزهور
فاميلى سيتى
حياتى ريزيدنس
قطامية واحدة
زهوة
ريجينتس بارك
حياة ريزيدنس
قطامية بلازا
مينا ريزيدنس
ماونتن فيو هايد بارك
بروميناد القاهرة الجديدة
قرية حدائق القطامية
سوديك ايست
VGK
ميدتاون
ميراج ريزيدنس
بارك فيو
قطامية بريز
بالم هيلز القاهرة الجديدة
كمبوند ديستريكت 5
ردهة
90 شارع
ساحة 7
فيليت
بحيرة البجع
ليك فيو
كمبوند ذا ووتر واي
Abu Al-Hool
جاردينيا
دجلة بالمز
جراند هايتس
حدائق القطامية
تلك المدينة
المستقبل
ليك فيو ريزيدنس
بورتو نيو كايرو
قطامية هايتس
القرية
زيد ايست
بلوم فيلدز
تريو جاردنز
كايرو فيستيفال سيتي
ابراج دجلة
كابيتال هايتس 2
أتيكا
ذا جولد يارد
بوابة القرية
Beit Al Watan
سكاي كوندوز سوديك
مرتفعات سيفورا
أزرق فيرت
بيتا جرينز
شارع القرية
الغابة
بروكس
قلعة لاندمارك
هابتاون
مدينة نور
مقاطعة لافونتين
سكن اللبلاب
عظيم
جراند جيت
روك فيرا
ميدتاون كوندو
العالم
ذا كورتيارد هاوس
حياة هايتس
الأغنية
ورود
سينشري سيتي
نيوبوليس
OIA
ملحمة
هليوبوليس ريزيدنس
ستة غرب
أوريانا
سيناريو
الحياة
هاي سيتي
صن كابيتال
مون سيتي
جاردن هيلز
بيل اير - سوديك
جَنَّة
يارو
روك فيل
أبها
حدائق العاصمة
كواترو
ماونتن فيو إكزكيوتف
ذا ايكون ريزيدنس
جراند ريزيدنس
مدينة الاشجار
لذلك
الشروق سبرنجز
وودفيل
مرتفعات الكوربة
الميدان الإيطالي
حدائق كونكورد
دبلوماسيون
مرتفعات سيرينا
مساكن شيراتون
أكويا
الفناء الخلفي
ليلى
المحور
المشهد 7
المنظر
بوابة القطامية
مدينة بوسكو
دجلة فيو
المعادي الخامس
Baet El Masria
الكاتالونية
Zizinia El Mostakbal
الجوهرة
علم النبات
ميدتاون سكاي
رودس
ميناء القاهرة
خط إنتظار
جرين سكوير
المدينة
ماونتن فيو 1
بالم هيلز الإسكندرية
ستون بارك
لينا سبرينجز
ذا لوفت
سرايات القطامية
مون فالي
نيست كايرو
سيليا
مونتي نابليون
ريفان
مون جاردن
اسوار
حدائق بيتا
لايف جاردن
دجلة لاندمارك
الزهرة
مدينة اليكو
روضة زايد
الاشرفية
شبه الجزيرة العربية
ديار
انسجام
كريك تاون
بوابة العرب
سيرانو
اوبرا سيتي
بوابة المستقبل
ماونتن فيو 2
السماء
Al Maram Landmark
أبراج زيد
مكان الإقامة
محظور
خط السماء
سكاي كابيتال فيو
مدينة الياسمين
حياة سهلة
بوابة المدينة
مادة
بافاريا تاون
كريستال بلازا
قصر كليوباترا
حديقة الزمرد
بادية بالم هيلز
طريق العاصمة
الخضر
إطلالة على المدينة
الاخضر
بالم هيلز قطامية
الملوك
بوابة حقيقية
أزاليا
Al Hayah
غرب جولف
مدينة مارفل
الحياة
فلوريا
Al Maqsad
خمسة عشر
البقاء
أصلي
سوينو
فينشي
جرين أفينيو
الشروق جاردنز
Al Rabwa
أرينا سيتي تاورز
اشراقة
جولدن هايتس
المعادي فيو
شرق القاهرة
حدائق المعادى
تيجان
قطامية بالمز
وادي المعادى
معادى جراند سيتى
شارع ريحانة
سيتي ستار
مدينة جولف السليمانية
مقاطعة
اذهب هليوبوليس
حديقة الخور
بورتو هليوبوليس
بوابة الشمس
ستيلا نيو كايرو
نفس
ألما
Wahet El Ryhan
النقطة التالية
رعاية
معرض مايو
جودران
المفتاح
ميراج سيتى
Rayhanah Plaza
سيبيل
ابسايد المعادي
ريحانة ريزيدنس
ليك فرونت
حي الاشجار
مروج
الاسمرات هايتس
فلورنسا
جولدن هايتس 2
مدينة الفن
اليوم
الآن
مجمع اثمار
كمبوندات ستيلا
El Ofok El Gadid
الفناء 2
بورتو اكتوبر
فيلينو
جواهر
سيدرا
المنحنى
جوار
دهر
جادا
كايرو تاون
صلب
مشارق
الجيزة الجديدة
زايد 2000
بداية
القمر هيللس
Etlalah
جولز
ميدالية
فالوري شيراتون
جرين يارد
قطامية ريزيدنس
البوابة الغربية
حدائق دجلة
حدائق كونتيننتال
يعامل
Al-Jazeera

In [35]:
lse[0]

'2020 Compound'

In [55]:
c_map = dict(zip(lse, lsa))
c_map

{'2020 Compound': 'كمبوند 2020',
 'Dar Misr': 'Dar Misr',
 'ALBA': 'ألبا',
 'Upville': 'أبفيل',
 'Andalus': 'الأندلس',
 'Zahret El Tagamo': 'زهرة التجمع',
 'Haram City': 'مدينة الهرم',
 'Al Diyar': 'Al Diyar',
 'Nakheel': 'Nakheel',
 'Light City': 'لايت سيتي',
 'Madinaty': 'مدينتي',
 'Stone Residence': 'ستون ريزيدنس',
 'Galleria Moon Valley': 'جاليريا مون فالى',
 'Amorada': 'أموردا',
 'Fifth Square': 'فيفث سكوير',
 'Al Burouj': 'Al Burouj',
 'Dreamland': 'ارض الاحلام',
 'Eastown': 'ايستاون',
 'Jayd': 'Jayd',
 'The Address East': 'العنوان الشرقي',
 'Al Riyadh Secon': 'Al Riyadh Secon',
 'Makany': 'مكاني',
 'Uptown Cairo': 'اب تاون كايرو',
 'Sun City': 'مدينة الشمس',
 'Baron City': 'بارون سيتي',
 'Rehab City': 'مدينة الرحاب',
 'Zizinia Gardens': 'حدائق زيزينيا',
 'Ritage': 'ريتاج',
 'Mivida': 'حياتي',
 'Mountain View iCity': 'ماونتن فيو اي سيتي',
 'Sun City Gardens': 'صن سيتى جاردنز',
 'El Khamayel': 'الخمائل',
 'GCR Golf City': 'جي سي ار جولف سيتي',
 'Highland Park': 'حديقة المرتفعات',
 'Sarai': 'ساراي',
 'Hyde Park New Cairo': 'هايد بارك القاهرة الجديدة',
 'Galleria': 'جاليريا',
 'La Mirada': 'المظهر',
 'Al Yasmine': 'Al Yasmine',
 'Tag Sultan': 'تاج سلطان',
 'Asala': 'أصالة',
 'Arabella Village': 'قرية ارابيلا',
 'The Square': 'المربع',
 'Smart Life': 'الحياة الذكية',
 'AZAD': 'أزاد',
 'Sky View Premier': 'سكاي فيو بريمير',
 'Flowers Park': 'حديقة الزهور',
 'Family City': 'فاميلى سيتى',
 'Hayati Residence': 'حياتى ريزيدنس',
 'One Kattameya': 'قطامية واحدة',
 'Zahwa': 'زهوة',
 'Regents Park': 'ريجينتس بارك',
 'Hayah Residence': 'حياة ريزيدنس',
 'Katameya Plaza': 'قطامية بلازا',
 'Mena Residence': 'مينا ريزيدنس',
 'Mountain View Hyde Park': 'ماونتن فيو هايد بارك',
 'Promenade New Cairo': 'بروميناد القاهرة الجديدة',
 'Village Gardens Katameya': 'قرية حدائق القطامية',
 'Sodic East': 'سوديك ايست',
 'VGK': 'VGK',
 'Midtown': 'ميدتاون',
 'Mirage Residence': 'ميراج ريزيدنس',
 'Park View': 'بارك فيو',
 'Katameya Breeze': 'قطامية بريز',
 'Palm Hills New Cairo': 'بالم هيلز القاهرة الجديدة',
 'District 5 Compound': 'كمبوند ديستريكت 5',
 'Atrio': 'ردهة',
 '90 Avenue': '90 شارع',
 'EL Patio 7': 'ساحة 7',
 'Villette': 'فيليت',
 'Swan Lake': 'بحيرة البجع',
 'Lake View': 'ليك فيو',
 'The Waterway Compound': 'كمبوند ذا ووتر واي',
 'Abu Al-Hool': 'Abu Al-Hool',
 'Gardenia': 'جاردينيا',
 'Degla Palms': 'دجلة بالمز',
 'Grand Heights': 'جراند هايتس',
 'Kattameya Gardens': 'حدائق القطامية',
 'Taj City': 'تلك المدينة',
 'L’Avenir': 'المستقبل',
 'Lake view Residence': 'ليك فيو ريزيدنس',
 'Porto New Cairo': 'بورتو نيو كايرو',
 'Katameya Heights': 'قطامية هايتس',
 'The Village': 'القرية',
 'Zed East': 'زيد ايست',
 'Bloomfields': 'بلوم فيلدز',
 'Trio Gardens': 'تريو جاردنز',
 'Cairo Festival City': 'كايرو فيستيفال سيتي',
 'Degla Towers': 'ابراج دجلة',
 'Capital Heights 2': 'كابيتال هايتس 2',
 'Atika': 'أتيكا',
 'EL Patio ORO': 'ذا جولد يارد',
 'Village Gate': 'بوابة القرية',
 'Beit Al Watan': 'Beit Al Watan',
 'Sky Condos Sodic': 'سكاي كوندوز سوديك',
 'Sephora Heights': 'مرتفعات سيفورا',
 'Blue Vert': 'أزرق فيرت',
 'Beta Greens': 'بيتا جرينز',
 'Village Avenue': 'شارع القرية',
 'IL Bosco': 'الغابة',
 'The Brooks': 'بروكس',
 'Castle Landmark': 'قلعة لاندمارك',
 'Haptown': 'هابتاون',
 'Noor City': 'مدينة نور',
 'La Fontaine Province': 'مقاطعة لافونتين',
 'Ivy Residence': 'سكن اللبلاب',
 'Granda': 'عظيم',
 'Grand Gate': 'جراند جيت',
 'Rock Vera': 'روك فيرا',
 'Midtown Condo': 'ميدتاون كوندو',
 'Il Mondo': 'العالم',
 'EL Patio Casa': 'ذا كورتيارد هاوس',
 'Hayat Heights': 'حياة هايتس',
 'Aria': 'الأغنية',
 'Roses': 'ورود',
 'Century City': 'سينشري سيتي',
 'Neopolis': 'نيوبوليس',
 'OIA': 'OIA',
 'Odyssia': 'ملحمة',
 'Heliopolis Residence': 'هليوبوليس ريزيدنس',
 'Six West': 'ستة غرب',
 'Oriana': 'أوريانا',
 'Scenario': 'سيناريو',
 'La Vida': 'الحياة',
 'High City': 'هاي سيتي',
 'Sun Capital': 'صن كابيتال',
 'Moon City': 'مون سيتي',
 'Garden Hills': 'جاردن هيلز',
 'Bel Air - Sodic': 'بيل اير - سوديك',
 'Paradise': 'جَنَّة',
 'Yaru': 'يارو',
 'Rock Ville': 'روك فيل',
 'ABHA': 'أبها',
 'Capital Gardens': 'حدائق العاصمة',
 'Quattro': 'كواترو',
 'Mountain View Executive': 'ماونتن فيو إكزكيوتف',
 'The Icon Residence': 'ذا ايكون ريزيدنس',
 'Grand Residence': 'جراند ريزيدنس',
 'Ashgar City': 'مدينة الاشجار',
 'Hadaba': 'لذلك',
 'El Shorouk Springs': 'الشروق سبرنجز',
 'Woodville': 'وودفيل',
 'Korba Heights': 'مرتفعات الكوربة',
 'Italian Square': 'الميدان الإيطالي',
 'Concord Gardens': 'حدائق كونكورد',
 'Diplomats': 'دبلوماسيون',
 'Serena Heights': 'مرتفعات سيرينا',
 'Sheraton Residence': 'مساكن شيراتون',
 'Akoya': 'أكويا',
 'El Patio': 'الفناء الخلفي',
 'Leila': 'ليلى',
 'The Axis': 'المحور',
 'Scene 7': 'المشهد 7',
 'The View': 'المنظر',
 'Kattameya Gate': 'بوابة القطامية',
 'IL Bosco City': 'مدينة بوسكو',
 'Degla View': 'دجلة فيو',
 'Maadi V': 'المعادي الخامس',
 'Baet El Masria': 'Baet El Masria',
 'Catalan': 'الكاتالونية',
 'Zizinia El Mostakbal': 'Zizinia El Mostakbal',
 'De Joya': 'الجوهرة',
 'Botanica': 'علم النبات',
 'Midtown Sky': 'ميدتاون سكاي',
 'Rhodes': 'رودس',
 'Porto Cairo': 'ميناء القاهرة',
 'Park Lane': 'خط إنتظار',
 'Green Square': 'جرين سكوير',
 'The City': 'المدينة',
 'Mountain View 1': 'ماونتن فيو 1',
 'Palm Hills Alexandria': 'بالم هيلز الإسكندرية',
 'Stone Park': 'ستون بارك',
 'Leena Springs': 'لينا سبرينجز',
 'The Loft': 'ذا لوفت',
 'Sarayat El Kattameya': 'سرايات القطامية',
 'Moon Valley': 'مون فالي',
 'Nest Cairo': 'نيست كايرو',
 'Celia': 'سيليا',
 'Monte Napoleon': 'مونتي نابليون',
 'Rivan': 'ريفان',
 'Moon Garden': 'مون جاردن',
 'Aswar': 'اسوار',
 'Beta Gardens': 'حدائق بيتا',
 'Life Garden': 'لايف جاردن',
 'Degla Landmark': 'دجلة لاندمارك',
 'La Rose': 'الزهرة',
 'Alico city': 'مدينة اليكو',
 'Rawdat Zayed': 'روضة زايد',
 'Ashrafeya': 'الاشرفية',
 'Arabia': 'شبه الجزيرة العربية',
 'Dyar': 'ديار',
 'Armonia': 'انسجام',
 'Creek Town': 'كريك تاون',
 'Arabia Gate': 'بوابة العرب',
 'Serrano': 'سيرانو',
 'Opera City': 'اوبرا سيتي',
 'Future Gate': 'بوابة المستقبل',
 'Mountain View 2': 'ماونتن فيو 2',
 'Le Ciel': 'السماء',
 'Al Maram Landmark': 'Al Maram Landmark',
 'ZED Towers': 'أبراج زيد',
 'Vivienda': 'مكان الإقامة',
 'Entrada': 'محظور',
 'Skyline': 'خط السماء',
 'Sky Capital View': 'سكاي كابيتال فيو',
 'Jasmine City': 'مدينة الياسمين',
 'Easy Life': 'حياة سهلة',
 'Town Gate': 'بوابة المدينة',
 'Kayan': 'مادة',
 'Bavaria Town': 'بافاريا تاون',
 'Crystal Plaza': 'كريستال بلازا',
 'Cleopatra Palace': 'قصر كليوباترا',
 'Emerald Park': 'حديقة الزمرد',
 'Badya Palm Hills': 'بادية بالم هيلز',
 'The Capital Way': 'طريق العاصمة',
 'Greens': 'الخضر',
 'La Vista City': 'إطلالة على المدينة',
 'La Verde': 'الاخضر',
 'Palm Hills Katameya': 'بالم هيلز قطامية',
 'Les Rois': 'الملوك',
 'TRUE Gate': 'بوابة حقيقية',
 'Azalea': 'أزاليا',
 'Al Hayah': 'Al Hayah',
 'Gharb Golf': 'غرب جولف',
 'Marvel City': 'مدينة مارفل',
 'Lavida': 'الحياة',
 'Floria': 'فلوريا',
 'Al Maqsad': 'Al Maqsad',
 'Kenz': 'خمسة عشر',
 'Stau': 'البقاء',
 'Pukka': 'أصلي',
 'Sueno': 'سوينو',
 'Vinci': 'فينشي',
 'Green Avenue': 'جرين أفينيو',
 'Shorouk Gardens': 'الشروق جاردنز',
 'Al Rabwa': 'Al Rabwa',
 'Arena City Towers': 'أرينا سيتي تاورز',
 'Eshraqa': 'اشراقة',
 'Golden Heights': 'جولدن هايتس',
 'Maadi View': 'المعادي فيو',
 'East Cairo': 'شرق القاهرة',
 'Maadi Gardens': 'حدائق المعادى',
 'Tijan': 'تيجان',
 'Kattameya Palms': 'قطامية بالمز',
 'Maadi Valley': 'وادي المعادى',
 'Maadi Grand City': 'معادى جراند سيتى',
 'Rayhanah Avenue': 'شارع ريحانة',
 'Etoile de Ville': 'سيتي ستار',
 'Al Solaimaneyah Golf City': 'مدينة جولف السليمانية',
 'County': 'مقاطعة',
 'Go Heliopolis': 'اذهب هليوبوليس',
 'Creek Park': 'حديقة الخور',
 'Porto Heliopolis': 'بورتو هليوبوليس',
 'Sun Gate': 'بوابة الشمس',
 'Stella New Cairo': 'ستيلا نيو كايرو',
 'Sama': 'نفس',
 'Alma': 'ألما',
 'Wahet El Ryhan': 'Wahet El Ryhan',
 'Next Point': 'النقطة التالية',
 'Bienestar': 'رعاية',
 'May Fair': 'معرض مايو',
 'Jodran': 'جودران',
 'The Key': 'المفتاح',
 'Mirage City': 'ميراج سيتى',
 'Rayhanah Plaza': 'Rayhanah Plaza',
 'Seabelle': 'سيبيل',
 'Upside Maadi': 'ابسايد المعادي',
 'Rayhanah Residence': 'ريحانة ريزيدنس',
 'Lakefront': 'ليك فرونت',
 'El Ashgar District': 'حي الاشجار',
 'Murooj': 'مروج',
 'Asmarat Heights': 'الاسمرات هايتس',
 'Florenta': 'فلورنسا',
 'Golden Heights 2': 'جولدن هايتس 2',
 'Art City': 'مدينة الفن',
 'Le Jour': 'اليوم',
 'Agora': 'الآن',
 'Ethmar Compound': 'مجمع اثمار',
 'Stella Compounds': 'كمبوندات ستيلا',
 'El Ofok El Gadid': 'El Ofok El Gadid',
 'EL Patio 2': 'الفناء 2',
 'Porto October': 'بورتو اكتوبر',
 'Villino': 'فيلينو',
 'Jewels': 'جواهر',
 'Sedra': 'سيدرا',
 'The Curve': 'المنحنى',
 'Jewar': 'جوار',
 'Aeon': 'دهر',
 'Jada': 'جادا',
 'Cairo Town': 'كايرو تاون',
 'Azzar': 'صلب',
 'Mashareq': 'مشارق',
 'New Giza': 'الجيزة الجديدة',
 'Zayed 2000': 'زايد 2000',
 'Bedaya': 'بداية',
 'Moon Hillls': 'القمر هيللس',
 'Etlalah': 'Etlalah',
 'Joulz': 'جولز',
 'Medallion': 'ميدالية',
 'Valore Sheraton': 'فالوري شيراتون',
 'Green Yard': 'جرين يارد',
 'Kattameya Residence': 'قطامية ريزيدنس',
 'West Gate': 'البوابة الغربية',
 'Degla Gardens': 'حدائق دجلة',
 'Continental Gardens': 'حدائق كونتيننتال',
 'Layan': 'يعامل',
 'Al-Jazeera': 'Al-Jazeera'}

In [56]:
df['compound'].value_counts()

Madinaty               3283
Beit Al Watan           729
Dar Misr                599
Eastown                 569
Mountain View iCity     480
                       ...
Green Avenue              1
New Giza                  1
Rawdat Zayed              1
Al-Jazeera                1
Dreamland                 1
Name: compound, Length: 308, dtype: int64

In [58]:
def check_comp(row, col):
    if c_map.get(col, 'none') in row['description'] or c_map.get(col, 'none') in row['title'] :
        return col
    else:
        return row['compound']

for col in lse:
    df['compound'] = df.apply(check_comp, args=[col], axis=1)

In [59]:
df['compound'].value_counts()

Jewar                  4937
Madinaty               2936
Sama                   1061
Beit Al Watan           632
L’Avenir                539
                       ...
EL Patio 2                1
Continental Gardens       1
Dreamland                 1
Arabia Gate               1
Sun Capital               1
Name: compound, Length: 285, dtype: int64

In [60]:
df['compound'].isna().sum() #was 22915

15197

In [63]:
def no_null_comp(x):
    y=pd.isna(x)
    if y == True:
        return 'no_compound'
    else:
        return x
df['compound']=df['compound'].apply(no_null_comp)

In [64]:
df['compound'].value_counts()

no_compound       15197
Jewar              4937
Madinaty           2936
Sama               1061
Beit Al Watan       632
                  ...
Al Rabwa              1
Sueno                 1
Village Avenue        1
Moon Hillls           1
Sun Capital           1
Name: compound, Length: 286, dtype: int64

In [399]:
for 
for y in list_of_arabic_locations:
     print((df['title'].str.contains(y))| (df['description'].str.contains(y)))

0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704     True
37705     True
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool

0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3         True
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2         True
3        False
4         True
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Length: 37709, dtype: bool

In [378]:
 for y in list_of_english_locations:
     df[(df['title'].str.contains(y)) | (df['description'].str.contains(y))]
     df['location'][i]=y

In [391]:
df['location'].unique()

array(['New Cairo - El Tagamoa', 'Madinaty', 'New Capital City',
       'Nasr City', 'Rehab City', 'Shorouk City', 'Maadi', 'Obour City',
       'Heliopolis', 'Zahraa Al Maadi', 'Mokattam', 'Ain Shams',
       'Gesr Al Suez', 'Badr City', 'Downtown Cairo', 'Helwan',
       'Mostakbal City', 'Helmeyat El Zaytoun', 'New Heliopolis',
       'Sheraton', 'Salam City', 'New Nozha', 'Katameya', 'Shubra',
       'Hadayek al-Kobba', 'Hadayek Helwan', 'Matareya', 'Marg',
       'Dar al-Salaam', 'Ezbet El Nakhl', 'Zawya al-Hamra', 'Waili',
       'Al Manial', 'Zamalek', 'Almazah', 'Abasiya', 'Sayeda Zeinab',
       'Basateen', 'Al Amiriyyah', '15 May City'], dtype=object)

In [366]:
for  i in  list_of_english_locations:
     if df['title'].str.contains(i)==True:
            print(True)
# df['title'].str.contains(list_of_locations[1])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [219]:
indexes_of_Sakan2=df.index[df['title'].str.contains('الشروق')].tolist()
len(indexes_of_Sakan2)
# for i in indexes_of_Sakan2es_of_Sakan2:
#     df['title'][indexes_of_Sakan2[i]]

247

In [211]:
indexes_of_Sakan2=df.index[df['title'].str.contains('حدايق')].tolist()
indexes_of_Sakan2
df[df['title'].str.contains('قطامية')]

df[df['location']=='Heliopolis']

,url,title,date,location,compound,type,price,area,bedrooms,level,furnished,price_type,bathrooms,payment_option,description,amenities,delivery_term,delivery_date,down_payment
21133,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة لقطة للبيع خلف سفارة الامارات,13 hours ago,Heliopolis,NaN,Apartment,"1,200,000",135,3,1,Yes,Price,2,Cash,بحرى ، 3 غرفة وعدد 2 حمام ومدخل للغرف يصلح لعم...,Elevator; Natural Gas; Water Meter; Electricit...,Finished,Ready to move,NaN
21134,https://www.olx.com.eg/en/ad/%D9%85%D8%B4%D8%B...,مشروع المعادي فيو (الشروق),3 months ago,Heliopolis,Maadi View,Apartment,"60,000",138,2,2,NaN,Price,2,Cash or Installment,"تملك شقتك في ارقي كومبوند في الشروق بمقدم 58,0...",Elevator; Water Meter; Electricity Meter; Pets...,Semi Finished,2024,NaN
21135,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه فندقيه للبيع 2نوم للإستثمار متشطبه بإداره ...,5 days ago,Heliopolis,NaN,Apartment,"30,000",128,2,10,No,Price,2,Installment,شقه فندقيه للبيع في ماريوت ريزيدنس التابع لمجم...,Elevator; Landline; Natural Gas; Water Meter; ...,Finished,NaN,NaN
21136,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع 3غرف باميز ميني كمبوند بالمقطم بسعر ...,2 months ago,Heliopolis,NaN,Apartment,"154,000",123,3,2,No,Price,2,Installment,امتلك شقتك فى اميز موقع بالمقطم على بعد خطوات ...,Elevator; Natural Gas; Electricity Meter; Pool...,NaN,NaN,"154,000"
21137,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع 3 غرف في الشروق على الطراز الاسباني ...,3 months ago,Heliopolis,Maadi View,Apartment,"83,000",150,3,2,NaN,Price,2,NaN,امتلك شقتك بكمبوند في مدينة الشروق الذي يتميز ...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22793,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة ٣ غرف متشطبة للبيع بالتقسيط في مصر الجديدة.,1 month ago,Heliopolis,NaN,Apartment,"4,900,000",188,3,10,NaN,Price,3,Cash or Installment,شقة للبيع في ماريوت ريزيدنس في مصر الجديدة على...,Elevator; Landline; Natural Gas; Water Meter; ...,Finished,2024,NaN
22794,https://www.olx.com.eg/en/ad/%D9%85%D9%86-%D8%...,من ارقى ابراج مصر الجديدة شقه فى برج ساره,4 weeks ago,Heliopolis,NaN,Apartment,"4,500,000",265,3,7,NaN,Price,2,Cash,الشقة فى برج فيه عمال نطافه و امن و فيه غرفه ل...,Elevator; Landline; Natural Gas; Water Meter; ...,Finished,Ready to move,NaN
22795,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع بسعر مميز شقه للبيع شارع الحريه مص...,3 weeks ago,Heliopolis,NaN,Apartment,"4,600,000",420,4,1,No,Price,4,Cash,شقه للبيع شارع الحريه مصر الجديده بسعر مميز \n...,Balcony,Semi Finished,Ready to move,NaN
22796,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقتين للبيع في مصر الجديدة (دور كامل) من المالك,2 weeks ago,Heliopolis,NaN,Apartment,"6,000,000",400,3,8,No,Price,2,Cash,من المالك مباشرة \nللبيع شقتين دور كامل مساحة ...,Elevator; Landline; Natural Gas; Water Meter; ...,Finished,Ready to move,NaN
22797,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه 320م للتمليك شارع جسر السويس الرئيسى بالقر...,2 months ago,Heliopolis,NaN,Apartment,"4,750,000",320,3,9,No,Price,3,Cash,شقه 320م للتمليك شارع جسر السويس الرئيسى بالقر...,Elevator; Natural Gas; Water Meter; Electricit...,Finished,Ready to move,NaN

In [134]:
13+17+17
df[df['location']=='Zawya al-Hamra']['description'].iloc[20]

'شقه  بتشوف البحر مباشرة ف الدور العاشر  يوجد فيديو الي الشقه الجدين فقط مسجله ف الشهر العقاري وبها مياه وغاز وكهرباء العماره كلها ساكنه كمبوند ميدان عائلات بالاسكندريه اول الساحل الشمالي'

In [ ]:
df['payment_option'].unique()

In [ ]:
df.drop(['url'], axis = 1, inplace = True)

Fixing location from scrapping after forgetting to scrap  the location of every ad

In [ ]:
# def filling_location_from_scrapping(x):
#     if x==np.nan:
#         x='New Cairo - El Tagamoa'
#         return x
#     else:
#         return x

In [ ]:
df['Location'].unique()

In [ ]:
df['Location'].iloc[0:7332]

In [ ]:
df.isna().sum()

In [ ]:
# df['Location'] = df['Location'].fillna('New Cairo - El Tagamoa')

In [ ]:
# df['Location'] = df['Location'].iloc[0:7332].apply(filling_location_from_scrapping)
# df['Location']

In [ ]:
df['date'].iloc[0]

converting Price from string to integers and thier was a problem with 100','000 this comma so we tried to replace it with non space to make it convertable

In [ ]:
df["price"] = [float(str(i).replace(",", "")) for i in df["price"]]
df['price']=df['price'].astype(int)
df.info()

In [ ]:
df['price'].astype(int)
df.info()

In [ ]:
df.info()

Creating database  called ReelStates

# DataBase

Creating a database with the columns  of dataframe

In [ ]:


# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="mahmoud2001",
#   database="reelstates"

# )
# mycursor = mydb.cursor()

In [ ]:
# mycursor.execute("CREATE DATABASE ReelStates")

In [ ]:
# mycursor.execute("CREATE TABLE dataset (url VARCHAR(255), title VARCHAR(255), date DATE, Bedrooms VARCHAR(255),Price INT, Payment_Option VARCHAR(255), Furnished VARCHAR(255),Area VARCHAR(255),Compound VARCHAR(255),Description VARCHAR(255),Amenities  VARCHAR(255),Delivery_Date VARCHAR(255),Down_Payment VARCHAR(255),Location VARCHAR(255),Electricity_Meter BOOLEAN, Balcony BOOLEAN, Water_Meter BOOLEAN, Elevator BOOLEAN, Security BOOLEAN, Natural_Gas BOOLEAN, Landline BOOLEAN, Pets_Allowed BOOLEAN, Covered_Parking BOOLEAN, Private_Garden BOOLEAN, Pool BOOLEAN, Maids_Room BOOLEAN, Central_AC_heating BOOLEAN, Built_in_Kitchen_Appliances BOOLEAN)")
# #mycursor.execute("DROP TABLE dataset ")

In [ ]:
df.info()

In [ ]:
# for col in dict_x:
#     url = df[country]
#     title = col['title']
#     deaths = col['Deaths']
    
    
    
    
    
# #     sql = 'INSERT INTO covid (country_name, deaths, confirmed) VALUES (?,?,?)'
# #     covid_data = [country_name, deaths, confirmed]
# #     cursor = conn.execute(sql, covid_data)
    
# # conn.commit()
# # conn.close()

Important packages to download\
pip install mysqlclient\
pip install sqlalchemy\
pip install  pymysql

Converting Dataframe to sql Table :)

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("mysql://root:mahmoud2001@localhost/reelstates" )
df.to_sql('final_data', con = engine, if_exists = 'append',index = True)

In [ ]:
# engine.execute("DROP TABLE final_data")

In [ ]:
df.to_csv (r'olx_data_With_Cleaning.csv', index = False, header=True,encoding='utf-8')

In [ ]:
imputer = SimpleImputer(strategy='most_frequent')
imputer2 = SimpleImputer(strategy='constant',fill_value="none")
df[['Payment Option']] = imputer.fit_transform(df[['Payment Option']])
df[['Furnished']] = imputer.fit_transform(df[['Furnished']])
df[['Compound']] = imputer2.fit_transform(df[['Compound']])
df[['Delivery Date']] = imputer2.fit_transform(df[['Delivery Date']])
df[['Compound']] = imputer2.fit_transform(df[['Compound']])
df[['Down Payment']] = imputer2.fit_transform(df[['Down Payment']])