In [1]:
import pandas as pd

In [2]:

# df=pd.DataFrame.from_records(ads)
# df

df = pd.read_csv('lastKnew.csv')
df

C:\Users\Commandor\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (8,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,url,title,date,location,compound,type,price,area,bedrooms,level,...,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances,month,meterprice
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2022-02-28,New Cairo - El Tagamoa,Sakan Masr,Apartment,175000.0,115,3,3,...,1,1,1,1,0,0,0,0,2,1521
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2022-04-15,New Cairo - El Tagamoa,Sakan Masr,Apartment,180000.0,115,3,1,...,0,0,0,0,0,0,0,0,4,1565
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,150000.0,115,3,2,...,0,0,0,0,0,0,0,0,4,1304
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2022-04-27,Gesr Al Suez,Not in Compound,Apartment,450000.0,135,3,7,...,0,0,0,0,0,0,0,0,4,3333
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,2022-04-29,New Cairo - El Tagamoa,Sakan Masr,Apartment,160000.0,115,3,2,...,0,0,0,0,0,0,0,0,4,1391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م,2022-04-29,15 May City,Not in Compound,Apartment,550000.0,125,3,2,...,0,0,0,0,0,0,0,0,4,4400
37705,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بكمبوند دار مصر دور ثالث,2022-04-29,15 May City,Dar Misr,Apartment,600000.0,140,3,3,...,0,0,0,0,0,0,0,0,4,4285
37706,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع,2022-02-28,15 May City,Jewar,Apartment,470000.0,80,2,5,...,0,0,0,0,0,0,0,0,2,5875
37707,https://www.olx.com.eg/en/ad/%D9%84%D9%84%D8%A...,للبيع,2022-02-28,15 May City,Not in Compound,Apartment,470000.0,100,2,4,...,1,1,0,1,0,0,0,0,2,4700
37708,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة دور ارضي مرتفع سوبر لوكس مجاورة 15,2022-04-08,15 May City,Not in Compound,Apartment,440000.0,105,3,Ground,...,0,0,0,0,0,0,0,0,4,4190

In [3]:
df['bathrooms']=df['bathrooms'].astype(str)
df['bedrooms']=df['bedrooms'].astype(str)
df['level']=df['level'].astype(str)
df['month']=df['month'].astype(str)

df['price']=df['price'].astype(int)
df['meterprice']=df['meterprice'].astype(int)

In [4]:
x=df.groupby('location')['meterprice'].mean().sort_values(ascending=False)
dict(x)
for i in x.keys():
    ind=df.index[df['location'] == i].tolist()

    for j in ind:
        df['meterprice'].iloc[j]=x[i]

C:\Users\Commandor\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [5]:
df['meterprice'].unique()

array([ 9521.27301514,  4064.04740551,  3886.68604651,  8394.3560477 ,
        5257.89247312,  9605.63104839,  8419.97404844,  3576.50867052,
        5102.96437055,  3189.93473193,  7627.03663793, 10526.596     ,
        9931.13617021,  7069.2124183 , 10000.76666667,  6214.36548223,
        6386.18131868, 11917.08198009,  7255.38377535,  8652.16395864,
        8302.51845018,  4123.375     , 10462.49036403,  5509.09803922,
        9654.31608133,  3285.83378016, 10289.12371134,  9869.01265823,
        3275.84693878,  6862.64044944,  3123.66834171,  3840.2962963 ,
        9204.48235294,  3994.49333333,  3829.05181347,  4446.17391304,
        5847.01145663,  5106.80392157,  5025.98611111])

In [6]:
df['level'].value_counts(normalize=True,sort=True)

2          0.211011
3          0.171763
1          0.157973
Ground     0.131321
4          0.097881
5          0.076533
6          0.037392
7          0.022780
10+        0.022037
8          0.021215
9          0.020420
10         0.018988
Highest    0.010687
Name: level, dtype: float64

In [7]:
df['bedrooms'].value_counts(normalize=True,sort=True)

3      0.668700
2      0.301095
4      0.018059
1      0.008778
5      0.002042
6      0.000769
10     0.000133
10+    0.000133
8      0.000106
7      0.000106
9      0.000080
Name: bedrooms, dtype: float64

In [8]:
df['location'].value_counts(normalize=False,sort=True).index

Index(['New Cairo - El Tagamoa', 'Madinaty', 'Badr City', 'Heliopolis',
       'Gesr Al Suez', 'Rehab City', 'Mokattam', 'Nasr City', 'Ain Shams',
       'Zahraa Al Maadi', 'Helwan', 'Mostakbal City', 'New Capital City',
       'Maadi', 'Downtown Cairo', 'Helmeyat El Zaytoun', 'Shorouk City',
       'Katameya', 'Sheraton', 'Shubra', 'Salam City', 'Hadayek al-Kobba',
       'Marg', 'Obour City', 'New Nozha', 'Hadayek Helwan', 'Matareya',
       'Dar al-Salaam', 'Ezbet El Nakhl', '15 May City', 'Zawya al-Hamra',
       'Waili', 'Zamalek', 'Sayeda Zeinab', 'Abasiya', 'Al Manial', 'Almazah',
       'Al Amiriyyah', 'Basateen'],
      dtype='object')

In [9]:
imp_locations = ['New Cairo - El Tagamoa', 'Madinaty', 'Badr City', 'Heliopolis',
       'Gesr Al Suez', 'Rehab City', 'Mokattam', 'Nasr City', 'Ain Shams',
       'Zahraa Al Maadi', 'Helwan']

In [10]:
df['location'] = df['location'].apply(lambda loc: 'Other' if loc not in imp_locations else loc)

In [11]:
df['location'].value_counts()

New Cairo - El Tagamoa    12948
Other                      9377
Madinaty                   3818
Badr City                  1684
Heliopolis                 1623
Gesr Al Suez               1561
Rehab City                 1250
Mokattam                   1224
Nasr City                  1174
Ain Shams                  1118
Zahraa Al Maadi            1084
Helwan                      848
Name: location, dtype: int64

In [12]:
filt = df['bedrooms'].apply(lambda x: x in ['1','5','6','7','8','9','10','10+'])
filt

0        False
1        False
2        False
3        False
4        False
         ...
37704    False
37705    False
37706    False
37707    False
37708    False
Name: bedrooms, Length: 37709, dtype: bool

In [13]:
outliers = df[filt].index
df.drop(outliers, inplace = True)

In [14]:
df['bedrooms'].value_counts()

3    25216
2    11354
4      681
Name: bedrooms, dtype: int64

In [15]:

df['compound'].value_counts(sort=True).index

Index(['Not in Compound', 'Jewar', 'Madinaty', 'Sama', 'Beit Al Watan',
       'L’Avenir', 'Eastown', 'Makany', 'Mivida', 'Mountain View iCity',
       ...
       'Shorouk Gardens', 'Village Avenue', 'Cairo Town', 'GCR Golf City',
       'Sun City Gardens', 'Al Solaimaneyah Golf City', 'Go Heliopolis',
       'Creek Park', 'Stella New Cairo', 'Etlalah'],
      dtype='object', length=290)

In [16]:
comp=['Not in Compound', 'Jewar', 'Madinaty', 'Sama']
#'Beit Al Watan','L’Avenir', 'Eastown', 'Makany', 'Mivida', 'Mountain View iCity'
df['compound'] = df['compound'].apply(lambda loc: 'Other' if loc not in comp else loc)
df['compound'].value_counts()

Not in Compound    16028
Other              12204
Jewar               5011
Madinaty            2940
Sama                1068
Name: compound, dtype: int64

In [17]:
df['meterprice']

0        9521.273015
1        9521.273015
2        9521.273015
3        4064.047406
4        9521.273015
            ...
37704    3829.051813
37705    3829.051813
37706    3829.051813
37707    3829.051813
37708    3829.051813
Name: meterprice, Length: 37251, dtype: float64

In [18]:
df2 = df.copy(deep = True)
df3 = df.copy(deep = True)
df4 = df.copy(deep = True)
df5 = df.copy(deep = True)

In [19]:
df.columns

Index(['url', 'title', 'date', 'location', 'compound', 'type', 'price', 'area',
       'bedrooms', 'level', 'furnished', 'price_type', 'bathrooms',
       'payment_option', 'description', 'amenities', 'delivery_term',
       'delivery_date', 'down_payment', 'electricity_meter', 'balcony',
       'water_meter', 'elevator', 'security', 'natural_gas', 'landline',
       'pets_allowed', 'covered_parking', 'private_garden', 'pool',
       'maids_room', 'central_ac_heating', 'built_in_kitchen_appliances',
       'month', 'meterprice'],
      dtype='object')

In [20]:
# df.drop(['url','title', 'date', 'type', 'description', 'amenities','furnished','price_type','maids_room','landline','pets_allowed','covered_parking','central_ac_heating','built_in_kitchen_appliances','delivery_date','pool','delivery_term'], axis=1, inplace=True)
# df
df.drop(['url','title', 'date', 'type', 'description', 'amenities','furnished','price_type','maids_room','landline','pets_allowed','covered_parking','central_ac_heating','built_in_kitchen_appliances','delivery_date'], axis=1, inplace=True)
df

,location,compound,price,area,bedrooms,level,bathrooms,payment_option,delivery_term,delivery_date,...,electricity_meter,balcony,water_meter,elevator,security,natural_gas,private_garden,pool,month,meterprice
0,New Cairo - El Tagamoa,Other,175000,115,3,3,1,Cash,Core & Shell,Ready to move,...,1,1,1,0,1,1,1,0,2,9521.273015
1,New Cairo - El Tagamoa,Other,180000,115,3,1,1,Cash,Finished,Ready to move,...,1,0,1,0,1,1,0,0,4,9521.273015
2,New Cairo - El Tagamoa,Other,150000,115,3,2,1,Cash,Finished,Ready to move,...,0,0,0,0,0,0,0,0,4,9521.273015
3,Gesr Al Suez,Not in Compound,450000,135,3,7,1,Cash,Finished,Ready to move,...,0,1,0,1,0,1,0,0,4,4064.047406
4,New Cairo - El Tagamoa,Other,160000,115,3,2,1,Cash,Finished,Ready to move,...,0,0,0,0,0,0,0,0,4,9521.273015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,Other,Not in Compound,550000,125,3,2,1,Cash,Core & Shell,Ready to move,...,0,1,0,0,0,0,0,0,4,3829.051813
37705,Other,Other,600000,140,3,3,3,Cash,Finished,Ready to move,...,0,0,0,0,0,0,0,0,4,3829.051813
37706,Other,Jewar,470000,80,2,5,1,Cash,Finished,Ready to move,...,1,1,1,1,0,1,0,0,2,3829.051813
37707,Other,Not in Compound,470000,100,2,4,1,Cash,Finished,Ready to move,...,1,1,1,0,0,0,1,0,2,3829.051813
37708,Other,Not in Compound,440000,105,3,Ground,2,Cash,Core & Shell,Ready to move,...,0,0,0,0,0,0,0,0,4,3829.051813

In [28]:
df2 = pd.get_dummies(df, columns=['location', 'compound','bedrooms', 'month','level', 'bathrooms','payment_option','delivery_term'], drop_first=True)
df2

KeyError: "['location', 'compound', 'bedrooms', 'month', 'level', 'bathrooms', 'payment_option'] not in index"

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
df

,price,area,delivery_term,delivery_date,down_payment,electricity_meter,balcony,water_meter,elevator,security,...,bathrooms_2,bathrooms_3,bathrooms_4,bathrooms_5,bathrooms_6,bathrooms_7,bathrooms_8,bathrooms_9,payment_option_Cash or Installment,payment_option_Installment
0,175000,115,Core & Shell,Ready to move,0.0,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,180000,115,Finished,Ready to move,0.0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,150000,115,Finished,Ready to move,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,450000,135,Finished,Ready to move,0.0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,160000,115,Finished,Ready to move,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,550000,125,Core & Shell,Ready to move,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37705,600000,140,Finished,Ready to move,0.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
37706,470000,80,Finished,Ready to move,0.0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
37707,470000,100,Finished,Ready to move,0.0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
37708,440000,105,Core & Shell,Ready to move,0.0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [23]:
x = df.drop('price', axis=1)
# x = df[selected]
y = df['price']

In [24]:
x

,area,delivery_term,delivery_date,down_payment,electricity_meter,balcony,water_meter,elevator,security,natural_gas,...,bathrooms_2,bathrooms_3,bathrooms_4,bathrooms_5,bathrooms_6,bathrooms_7,bathrooms_8,bathrooms_9,payment_option_Cash or Installment,payment_option_Installment
0,115,Core & Shell,Ready to move,0.0,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,115,Finished,Ready to move,0.0,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,115,Finished,Ready to move,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,135,Finished,Ready to move,0.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,115,Finished,Ready to move,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,125,Core & Shell,Ready to move,0.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37705,140,Finished,Ready to move,0.0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
37706,80,Finished,Ready to move,0.0,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
37707,100,Finished,Ready to move,0.0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37708,105,Core & Shell,Ready to move,0.0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [26]:
scaler= StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

ValueError: could not convert string to float: 'Core & Shell'

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

models = {
    #'LR': LinearRegression(),
    #'DT': DecisionTreeRegressor(max_depth=200),#max_depth=180
    #'KNN': KNeighborsRegressor(),#n_neighbors=9
    #'SVM': SVR(), #kernel='rbf'
    #'RF': RandomForestRegressor(n_estimators=200,max_depth=10),#n_estimators=200,max_depth=330
    'XGB': XGBRegressor(n_estimators=500)#n_estimators=200


}

for name, model in models.items():
    print(f'Training {name}...')
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print(f'Testing RMSE: {np.sqrt(mean_squared_error(y_test, y_pred))}')
    print(f'Testing MAE: {mean_absolute_error(y_test, y_pred)}')
    print(f'Testing R2: {r2_score(y_test, y_pred)}')
    print('-'*50)

In [ ]:
# base_score=0.5, booster='gbtree', colsample_bylevel=1,
#              colsample_bynode=1, colsample_bytree=0.8, enable_categorical=False,
#              gamma=0, gpu_id=-1, importance_type=None,
#              interaction_constraints='', learning_rate=0.1, max_delta_step=0,
#              max_depth=5, min_child_weight=1,
#              monotone_constraints='()', n_estimators=1000, n_jobs=4, nthread=4,
#              num_parallel_tree=1, predictor='auto', random_state=27,
#              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27,
#              subsample=0.8, tree_method='exact', validate_parameters=1,
#              verbosity=None

In [ ]:
# from xgboost import XGBRegressor

# model = XGBRegressor(random_state=42)

In [ ]:
#from sklearn.model_selection import GridSearchCV

In [ ]:

# params = [
#         {'criterion':['gini', 'entropy'],
#          'max_depth':range(10, 250, 5),
#          'n_estimators':range(20, 250, 5)}
#          ]

# grid_search = GridSearchCV(estimator=model,
#                            param_grid=params,
#                            scoring='r2',
#                            cv=10, n_jobs=-1)
# grid_search.fit(x_train, y_train)

In [ ]:
#grid_search.best_score_

In [ ]:
#grid_search.best_params_

In [ ]:
#grid_search.best_estimator_

In [ ]:
# xgb1 = XGBRegressor(
#  learning_rate =0.1,
#  n_estimators=1000,
#  max_depth=5,
#  min_child_weight=1,
#  gamma=0,
#  subsample=0.8,
#  colsample_bytree=0.8,
#  nthread=4,
#  scale_pos_weight=1,
#  seed=27)
# xgb1.fit(x_train, y_train)